<div class='registry'>
  <%= render :partial => 'users/components/signings/signing_form', :locals => {:type => 'signin'} %>
  <%= render :partial => 'users/components/signings/signing_form', :locals => {:type => 'signup', :style => "display:none"} %>
  <span class='close_button'>
  </span>
</div>