<% @question = question if defined?(question) %>

<li id="<%= dom_id(@question) %>" class="content question">
    <% long_title = @question.translated_document(current_language_keys).title.length > 70 %>
    <span class="name"><%=h (long_title ? @question.translated_document(current_language_keys).title[0,69]+"..." : @question.translated_document(current_language_keys).title)%></span> <br/>
    <% link_to question_url(@question), :title => "#{@question.translated_document(current_language_keys).title if long_title}", :class => "avatar_holder#{' ttLink no_border' if long_title }" do %>
  	  <%= image_tag("default_question_image.png") %>
    <% end %>
</li>
