<div id="questions_container">


  <%
    count = @count
    if count < 2
      count_text = I18n.t('discuss.results_count.one', :count => count)
    else
      count_text = I18n.t('discuss.results_count.more', :count => count)
    end
  %>

  <!--<span class="results_count"><%- count_text %></span>-->
  <!--<span class="results_sort"/>-->

  <span id="profiles_beginn"></span>

  <div id="" class="contents_container rounded-box rounded-box-gray-itow with-header">
    <span class="box_header"><%= count_text %></span>
    <span class="box_header_border"></span>
    <span class="box_header_icon"></span>

    <ul>
	  <% if not statements.empty? %>
	    <%= render :partial => 'questions/question', :collection => statements %>
	  <% else %>
	    <span class="no_results"><%= I18n.t('discuss.messages.empty') %></span>
	  <% end %>
	</ul>
    <%= will_paginate statements , :previous_label => '', :next_label => '' if defined? statements.total_pages %>
  </div>

</div>
