<% content_for :submenu, tabnav(:discuss) %>

<h1><%= I18n.t("discuss.topics.#{@category.value.underscore}.name") %></h1>
<strong><%= I18n.t('discuss.topics.description') %></strong>
<% insert_toggle_more(I18n.t("discuss.topics.#{@category.value.underscore}.description")) %>

<%= render :partial => 'questions', :locals => {:statements => @statements} %>

<br></br>
<span class="new_question">
	<%= create_question_link_for(@category)%>
</span>
