<div class="function_button_holder">
  <% link_to hash_for_discuss_search_path.merge({:search_terms=>"##{category}"}) do %>
    <span class="function_button">
    	<%= image_tag("page/discuss/topics/#{category}.png") %>
    </span>
  <% end %>
  <% link_to hash_for_discuss_search_path.merge({:search_terms=>"##{category}"}), {:class => 'function_name'} do %>
    <%= I18n.t("discuss.topics.#{category}.name") %>
  <% end %>
  <span class="function_description">
  	<%= I18n.t("discuss.topics.#{category}.teaser") %>
  </span>
  <span class="function_more">
  	<% insert_toggle_more(I18n.t("discuss.topics.#{category}.description")) %>
  </span>
</div>