<% content_for :submenu, tabnav(:discuss) %>



<div id="details_container" class="discuss">
  <ul id="profile_details_tabs">
    <li><a href="#featured"><%= I18n.t('discuss.topics_overview.tabs.featured.title') %></a></li>
    <li><a href="#pilot_projects"><%= I18n.t('discuss.topics_overview.tabs.pilot_projects.title') %></a></li>
  </ul>

   <div id="featured" class="tab_content_container">
    <%= render :partial => 'discuss/featured' %>
  </div>
  <div id="pilot_projects" class="tab_content_container">
    <%= render :partial => 'discuss/pilot_projects' %>
  </div>
</div>

<script type="text/javascript">
  $('#details_container').tabs();
</script>










