<% @function_name = 'discuss_featured_topics' %>

<div id="topic_container" class="tab_details_container discuss">
  <ul id="profile_details_tabs">
    <li><a href="#pilot_projects"><%= I18n.t('discuss.featured_topics.tabs.pilot_projects.title') %></a></li>
    <li><a href="#echo"><%= I18n.t('discuss.featured_topics.tabs.echo.title') %></a></li>
  </ul>

  <div id="pilot_projects" class="tab_content_container">
    <%= render :partial => 'discuss/pilot_projects' %>
  </div>
  <div id="echo" class="tab_content_container">
    <%= render :partial => 'discuss/featured' %>
  </div>
</div>
