<div id="concernment_container" class="header_block two_columns_block">
  <h2><%= I18n.t('users.concernments.title') %></h2>

  <div class="guide">
    <%= I18n.t('users.concernments.guide') %>
  </div>
	<% tao_tags = @user.tao_tags %>

  <% TaoTag.valid_contexts(@user.class.name).each do |tag_context| %>
    <%= render :partial => 'tao_tags/list', :locals => { :tao_tags => tao_tags.find_all_by_context_id(tag_context.id), :context => tag_context} %><br/>
  <% end %>

</div>

<script type="text/javascript">
  $(".tag_value_autocomplete").autocomplete("tao_tags/auto_complete_for_tag_value", {minChars: 3, selectFirst: false});
</script>
