<% discussions ||= @discussions %>

<!-- List my new and published discussions -->
<div id="my_discussions">

  <!-- Create new discussion-->
  <% create_discussion_link_for(:my_discussions) %>

  <div class="header_block discuss_right_block">
    <!-- Header -->
    <h2>
      <%= I18n.t('discuss.my_discussions.title') %>
    </h2>

    <!-- Discussion list -->
    <div id="discussions">
    	<% unless discussions.empty? %>
	      <ul id="discussion_list">
	      	<%= render :partial => 'statements/discussions/my_discussion', :collection => discussions %>
	      </ul>
		  <% else %>
			  <div class="no_discussions">
			  	<%= I18n.t("discuss.my_discussions.no_discussions") %>
			  </div> 
			<% end %>
      <!-- Pagination -->
      <%= will_paginate discussions, :previous_label => '', :next_label => '' %>
    </div>
  </div>
</div>
