<ul id="membership_list">
	<li>
	  <span class="column_200 label"><%= I18n.t('users.memberships.organisation') %></span>
	  <span class="column_200 label"><%= I18n.t('users.memberships.position') %></span>
	</li>
	<%= render :partial => 'users/memberships/membership', :collection => memberships %>
</ul>