<% form_for @user, :url => users_path, :html => {:class => "echoForm ajax_form", :id => 'new_user_form'} do |f| %>
   <p>
      <%= f.label I18n.t('application.general.email') %><br />
      <%= f.text_field :email %><br />
   </p>
    <br /><br />
    <%= f.submit I18n.t('users.signup.label'), :class => 'signupButton formButton200' %>
<% end %>