<div id="action_bar" class="action_bar">
	<% create_question_link_for %>
  <% content_tag(:div, :class => "embed_button_container") do %>
	  <%= render_discuss_search_embed_button %>
  <% end %>
  <%= render :partial => 'statements/questions/featured_topics' %>
</div>