<% statement_nodes ||= @statement_nodes %>

<!-- List my new and published discussions -->
<div id="my_discussions">

  <!-- Create new discussion-->
  <% add_discussion_link %>

  <div class="header_block discuss_right_block">
    <!-- Header -->
    <h2>
      <%= I18n.t('discuss.my_discussions.title') %>
    </h2>

    <!-- Discussion list -->
    <div id="discussions">
      <ul id="discussion_list">
        <% unless statement_nodes.empty? %>
          <% last_child = statement_nodes.pop -%>
          <% statement_nodes.each do |statement_node| %>
            <%= render :partial => 'statements/questions/discussion',
                       :locals => { :statement_node => statement_node} %>
          <% end %>
          <%= render :partial => 'statements/questions/discussion',
                     :locals => { :statement_node => last_child } %>
        <% end %>
      </ul>

      <!-- Pagination -->
      <%=
        if defined? !statement_nodes.empty? and statement_nodes.total_pages
          will_paginate statement_nodes,
                        :previous_label => '',
                        :next_label => ''
        end
      %>
    </div>
  </div>
</div>

<!-- Initialize pagination -->
<script type="text/javascript">
  $('.pagination a').addClass('ajax');
</script>
