<% @question = question if defined?(question) %>
<% question_document = @statement_documents[@question.statement_id] %>
<li id="<%= dom_id(@question) %>" class="content question">
    <% long_title = question_document.title.length > 70 %>
    <span class="name">
      <%=h (long_title ? question_document.title[0,69]+"..." : question_document.title)%>
    </span>
    <br/>
		<% link_to_question(question_document.title, @question, long_title, params[:search_terms]) %>
</li>
