<div id="questions_container">

  <% count_text = questions_count_text(@count, params[:search_terms]) %>

  <span id="results_anchor"></span>

  <div id="discuss_results" class="results_container rounded-box rounded-box-gray-itow with-header with_bg_bw_grad">
    <span class="box_header"><%= count_text %></span>
    <span class="box_header_border"></span>
    <span class="box_header_icon"></span>

    <ul>
      <% unless statement_nodes.empty? %>
			  <%= render :partial => 'statements/questions/question', :collection => statement_nodes %>
      <% else %>
        <span class="no_results">
          <%= (!current_user or current_user.spoken_languages.blank?) ?
              I18n.t('discuss.messages.empty_without_spoken_languages', :my_echo => my_profile_path) :
              I18n.t('discuss.messages.empty') %>
        </span>
        <br/>
        <% create_teaser_question_link_for(params[:search_terms]) %>
      <% end %>
	  </ul>

    <%= will_paginate statement_nodes,
                      :previous_label => '',
                      :next_label => '',
                      :params => {:controller => :discuss} if defined? statement_nodes.total_pages %>
  </div>
</div>
