<% @question = question if defined?(question) %>
<% question_document = @statement_documents[@question.statement_id] %>
<li id="<%= dom_id(@question) %>" class="content question">
    <% long_title = question_document.title.length > 70 %>
    <span class="name">
      <%=h (long_title ? question_document.title[0,69]+"..." : question_document.title)%>
    </span>
    <br/>
    <% link_to question_url(@question),
               :title => "#{h(question_document.title) if long_title}",
               :class => "avatar_holder#{' ttLink no_border' if long_title }" do %>
  	  <%= image_tag("default_question_image.png") %>
    <% end %>
</li>
