<div id="discuss_search_container" class="search_container">
  
  <!-- New question link -->
  <% create_question_link_for(params[:search_terms]) %>

  <!-- Search field -->
  <% content_tag :div, :id => 'search_form', :class => 'ajax_form' do %>
    <%= text_field_tag :search_terms, params[:search_terms] %>
    <%= content_tag :span, '', :name => 'submit_button', :class => 'submit_button', :alt => 'search_button' %>  
  <% end %>
</div>
