<p>
	<% event_data = JSON.parse(event.event) %>
	<%= link_to event_data[event_data.keys[0]]['statement']['statement_documents'][0]['title'], question_proposal_url(event.subscribeable.parent, event.subscribeable) %>
</p>