
/* General styles */

.function_container h1 {
  color: #21587f;
  font-size: 30px;
  margin: 12px 0 20px;
}

.function_container h2 {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold !important;
  margin: 18px 0 5px;
}

.line_separator_990 {
  background: url(../images/page/separator_no_shadow.png) no-repeat bottom;
  width: 990px;
  padding: 10px 0;
  display: block;
}

/* Blocks and headers */

.header_block {
  background: url(../images/page/header_left.png) no-repeat scroll left top;
  padding: 6px 0 0 15px;
  margin: 20px 0 25px 165px;
}

.simple_header_block {
  padding: 6px 0 0 15px;
  margin: 0 0 25px 165px;
}

.header_block h2, .header_block .headline {
  background: url(../images/page/header_right.png) no-repeat scroll right top;
  height: 31px;
  margin: -6px 0 10px !important;
  line-height: 31px;
  vertical-align: middle;
  color: #21587f !important;
  font-size: 15px;
  font-weight: bold !important;
}

.header_block .headline:hover {
  color: #7bb031 !important;
}

.header_block h3 {
  color: #7bb031;
  font-size: 14px;
  font-weight: bold;
}

.header_block ul {
  margin: 0;
  padding: 0;
}

.header_block li {
  list-style-type: none;
  line-height: 24px;
  display: block;
  vertical-align: middle;
  cursor: default;
}

.two_columns_block li {
  list-style-type: none;
  line-height: 24px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
}

.header_block li .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.header_block li .value {
  color: #21587f;
  display: block;
  width: 375px;
  overflow: hidden;
}

.header_block li .value a {
  color: #21587f;
}

.header_block .guide {
  color: #21587f;
  font-size: 13px;
  line-height: 18px;
  margin: 13px 0 15px;
  cursor: default;
}

.header_block li.switch_block {
  margin: 20px 0;
}

.header_block li .switch_title {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}

.header_block li .switch_guide {
  display: block;
  margin-left: 35px;
  width: 750px
}

.column_200 {
  width: 195px !important;
  padding: 2px !important;
  display: inline-block !important;
  vertical-align: top;
  overflow: hidden;
}

.header_block input[type="text"], .header_block input[type="password"] {
  border: 1px solid #999;
  color: #21587F;
  font-size: 14px;
  min-height: 18px;
  width: 194px;
  margin: 1px;
  padding: 2px 0;
}

.header_block select {
  border: 1px solid #999999;
  color: #21587F;
  padding: 2px 2px 2px 0;
  margin: 1px;
  width: 195px;
}

/* Function labels */

.icon_label {
  color: #21587f;
  font-family: arial,Helvetica,sans-serif;
  font-size: 13px;
  padding-left: 20px;
  border: none;
  display: inline-block;
  margin-top: 3px;
}

.help_on_icon {
  background: transparent url(../images/page/icons/help.png) no-repeat scroll 0 -16px;
}

/* Standard buttons */

.text_button {
  color: #21587f;
  font-family: arial,Helvetica,sans-serif;
  font-size: 13px;
  margin-left: 20px;
  padding-left: 20px;
  text-decoration: underline;
  border: none;
}

.text_button:hover {
  cursor: pointer;
}

.text_button.ttLink:hover {
  border-bottom: none;
}

.add_text_button {
  background: transparent url(../images/page/icons/add_button.png) no-repeat scroll 0 0;
  height: 20px;
  padding-left: 23px;
	display: inline-block;
}

.edit_text_button {
  background: transparent url(../images/page/icons/edit_button.png) no-repeat scroll 0 0;
  height: 17px;
  line-height: 17px;
  display: inline-block;
}

.save_text_button {
  background: transparent url(../images/page/icons/save_button.png) no-repeat scroll 0 0;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}

.or_cancel {
  color: #21587f;
  margin-left: 5px;
  cursor: default;
}

.cancel_text_button {
  padding-left: 0;
  margin-left: 15px;
}

.delete_text_button {
  background: transparent url(../images/page/icons/delete_button.png) no-repeat scroll 0 0;
  height: 16px;
  line-height: 17px;
  display: inline-block;
}

.publish_text_button {
  background: transparent url(../images/page/icons/publish_button.png) no-repeat scroll 0 0;
  height: 17px;
  line-height: 17px;
  display: inline-block;
}

.publish_text_button:hover {
  background-position: 0 -17px;
}

.authors_text_button {
  background: transparent url(../images/page/icons/authors_button.png) no-repeat scroll 0 0;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  padding-left: 25px;
}

.authors_text_button:hover, .authors_text_button.active {
  background-position: 0 -16px;
}

.authors_text_button.active:hover {
  background-position: 0 0;
}

.header_block .header_button {
  float: right;
  position: relative;
  right: 20px;
  top: 1px;
}

.simple_header_block .header_button {
  float: right;
  position: relative;
  top: 18px;
}

/* Admin stuff */

.admin_action {
  background-color: #db4c3d;
  color: #fff !important;
  margin: 30px 3px 0;
  padding: 3px 9px;
  display: inline-block;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.admin_action:hover {
  text-decoration: underline;
}


/* Tags */

.tag_container {
  display: inline-block;
  width: 385px;
  margin: 23px 0 0;
  padding: 2px 4px;
  min-height: 30px;
  border: 1px solid #999;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.tag {
  font-size: 13px;
  background-color: #E3EAEE;
  padding: 3px 7px;
  margin: 4px 3px;
  display: inline-block;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.delete_tag_button {
  background:transparent url(../images/page/icons/small_x_button.png) no-repeat scroll 0 0;
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 6px;
}

.tag a .delete_tag_button {
 margin-left: 2px;
}

.delete_tag_button:hover {
  background-position: 0 -12px;
}

/* Pagination */

.more_pagination {
  text-align: center;
}

.more_pagination a {
  font-size: 15px;
  color: #21587f;
  text-decoration: underline;
}

.more_pagination a:hover {
  color: #21587f;
}

.more_pagination .more_loading {
  background: url('../images/indicator_16.gif') left center no-repeat;
  padding-left: 25px;
  color: #21587F;
  font-size: 15px;
  position: relative;
  left: -13px;
  cursor: default;
}

.more_pagination .disabled {
  color: #b4bec3;
  font-size: 15px;
  cursor: default;
}

.pagination {
  clear: both;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 990px;
}

.pagination a, .pagination span {
  font-size: 15px;
  font-weight: bold;
  color: #21587f;
  padding: 0 3px;
  vertical-align: middle;
}

.pagination a:hover {
  color: #7bb031;
}

.pagination .current {
  color: #7bb031;
  cursor: default;
}

.pagination .prev_page, .pagination .next_page {
  display: inline-block;
  width: 37px;
  height: 39px;
  padding: 0;
}

.pagination .prev_page {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll left top;
}

.pagination .next_page {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll -37px 0;
}

.pagination .prev_page:hover {
  background-position: 0 -39px;
}

.pagination .next_page:hover {
  background-position: -37px -39px;
}

.pagination .prev_page.disabled {
  background-position: 0 -78px;
  cursor: default;
}

.pagination .next_page.disabled {
  background-position: -37px -78px;
  cursor: default;
}

/* Standard buttons */

.button {
  border: none;
  height: 43px;
  line-height: 43px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #21587f;
  text-align: center;
  vertical-align: middle;
  margin: 10px 0 0 -6px;
  padding:  0;
  cursor: pointer;
}

.button:hover {
  background-position: 0 -43px !important;
  color: #7bb031;
}

.button_150 {
  background: transparent url(../images/page/button_150.png) no-repeat scroll left top;
  width: 150px;
}

.button_200 {
  background: transparent url(../images/page/button_200.png) no-repeat scroll left top;
  width: 200px;
}

.button_250 {
  background: transparent url(../images/page/button_250.png) no-repeat scroll left top;
  width: 250px;
}

.button_300 {
  background: transparent url(../images/page/button_300.png) no-repeat scroll left top;
  width: 300px;
}

.green_button {
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.green_button:hover {
  background-position: 0 -28px !important;
}

.green_button_120 {
  background: transparent url(../images/page/red_button_120.png) no-repeat scroll left top;
  width: 120px;
}

.big_red_button_150 {
  background: transparent url(../images/page/red_button_big_150.png) no-repeat scroll left top;
  width: 150px;
}


.big_button {
  color: #FFF !important;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  height: 51px;
  line-height: 46px;
  text-align: center;
}

.big_button:hover {
  background-position: 0 -51px !important;
}

.big_green_button_150 {
  background: transparent url(../images/page/green_button_big_150.png) no-repeat scroll left top;
  width: 150px;
}

.big_red_button_150 {
  background: transparent url(../images/page/red_button_big_150.png) no-repeat scroll left top;
  width: 150px;
}

.big_red_button_300 {
  background: transparent url(../images/page/red_button_big_300.png) no-repeat scroll left top;
  width: 300px;
}

/* Header layout */

#logged_in_user {
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  margin: 8px 12px 0 0;
  text-align: right;
  cursor: default;
}

#logged_in_user_pic {
  height: 45px;
  float: right;
  border: 2px solid #7bb031;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#app_container {
  width: 100%;
  clear: both;
  background: #fff;
  position: relative;
  overflow: visible;
  min-height: 410px;
  margin: 7px 0 12px;
  display: inline-block;
  z-index: 5;
}

/* BORDER SECTION */

#app_container .border {
  width: 100%;
  height: 16px;
  background: url(../images/page/box/borders_7bb031_iwot_topbottom.png) repeat-x;
  position: absolute;
  left: 0;

}

#app_container .bottom {
  background-position: bottom;
  bottom: -16px;
}

#app_container .top {
  background-position: top;
  top: -16px;
}

.function_container {
  margin: 0 auto;
  width: 990px;
  padding-bottom: 1px;
}

#message_container {
  width: 400px;
  margin: 0 auto;
}

#message_container div {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top:  0;
  position: fixed;
}

#message_container #info_box, #message_container #error_box {
  z-index: 2000;
  position: fixed;
}

#message_container .info_error_icon {
  position: absolute;
  top: 6px;
  left: 10px;
  width: 16px;
  height: 16px;
  z-index: 2010;
}

#message_container .message , #message_container .close_button {
  position: relative;
  left: 23px;
  width: 350px;
  padding-right: 20px;
}

/* Roadmap */
.function_container .roadmap {
  width: 830px;
  padding: 30px 66px;
}

/* Submenus */

.submenu {
  margin: 0 auto;
  width: 990px;
  overflow: auto;
  color: #21587f;
  margin-bottom: 11px;
  padding: 0 0 10px 0;
  z-index: 1;
  text-align: center;
  background: url(../images/page/separator_no_shadow.png) no-repeat bottom;
  position: relative;
  height: 20px;
}

.submenu ul {
  margin: 0;
  padding: 0;
}

.submenu li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
  margin: 0 11px;
}

.submenu a {
  color: #21587f;
  background: #FFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.submenu a:hover, .submenu a.active, .submenu a.active:hover {
  color: #7bb031;
}

/* Function button navigation */

.text_for_function_button {
  margin: 5px 0 10px 30px;
}

.function_button_holder {
  margin: 0;
  padding: 0 0 30px;
  clear: both;
}

.function_button {
  float: left;
  margin: 0;
  padding: 0;
  min-height: 80px;
  position: relative;
  left: 10px;
  z-index: 5;
  border: none;
  width: 140px;
}

.function_button:hover {
  cursor: pointer;

}

.function_name {
  font-size: 20px;
  font-weight: bold;
  color: #21587f;
  position: relative;
  width: 100%;
  display: block;
  padding: 7px 0;
}

.function_description {
  font-size: 14px;
  color: #21587f;
  position: relative;
  width: 100%;
  cursor: default;
}

.function_button_holder .function_name:hover {
  color: #7bb031;
  text-decoration: none;
  cursor: pointer;
}

.function_button_holder .function_more {
	font-size:14px;
}

.function_button_holder .toggled_content {
	font-size: 14px;
	position: relative;
	margin-left: 140px;
}


.tab_details_container {
  clear: both;
  margin: 25px 0 10px;
  overflow: auto;
  min-height: 280px;
}


.tab_details_container div {
  text-align: left;
}

.tab_details_container .tab_content_container {
  float: left;
  padding: 0 15px;
}


/* Search panels */

.search_container {
  width: 990px;
  position: relative;
}

#search_form {
  clear: both;
  margin: 20px 0 2px;
  padding: 0;
  text-align: center;
}

#search_form .search_field {
  background: #FFF url(../images/page/searchbar_left.png) no-repeat scroll left top;
  width: 380px;
  height: 29px;
  display: inline-block;
}

#search_form #search_terms {
  background: transparent;
  display: inline-block;
  border: none;
  width: 365px;
  height: 23px;
  font-size: 17px;
  color: #21587f;
  margin: 0;
  padding: 2px 2px 3px;
  position: absolute;
  left: 292px;
  top: 1px;
}

#search_form .submit_button {
  background: #FFF url(../images/page/searchbar_button.png) no-repeat scroll left top;
  width: 51px;
  height: 29px;
  border: none;
  display: inline-block;
  margin-left: -5px;
  cursor: pointer;
}

#search_form .submit_button:hover {
  background-position: 0 -29px;
}


/* Container for profiles and debates (and team)*/

#results_anchor {
  height: 10px;
  width: 100%;
  display: block;
  margin-top: 19px;
}

.results_container {
  margin: 0 0 15px 0;
  width: 990px;
  min-height: 195px;
}

.results_container .no_results {
  display: block;
  width: 990px;
  margin: 0 auto;
  text-align: center;
  color: #21587f;
  font-size: 15px;
  position: absolute;
  top: 120px;
  cursor: default;
}

.results_container ul {
  margin: 0;
  padding: 0;
  min-height: 155px;
}

.results_container .content {
  float: left;
  width: 287px;
  height: 55px;
  list-style: none;
  display: block;
  margin: 11px 10px 11px 30px;
  position: relative;
  overflow: hidden;
}

.results_container .content .avatar_holder {
  width: 100%;
  height: 50px;
  padding: 1px 10px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}

.results_container .content img {
  max-width: 45px;
  max-height: 45px;
  border: 2px solid #7bb031;
}

.results_container .content .name {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 0;
  max-height: 52px;
  overflow: hidden;
}

.results_container .content:hover .name, .results_container .content.active .name {
  color: #7bb031;
}

.results_container .profile .location_orga {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  left: 60px;
  max-height: 35px;
  overflow: hidden;
}

.results_container .profile.active:hover .close_hint {
  font-size: 12px;
  color: #7691A2;
  display: inline-block !important;
  position: absolute;
  right: 0;
  top: 2px;
}


/* jScrollPane customization */

.jspContainer {
    z-index: 1;
}

.jspVerticalBar, .jspHorizontalBar {
	background-color: transparent !important;
}

.jspHorizontalBar {
	bottom: 2px;
}

.jspTrack {
	position: absolute;
	cursor: pointer;
	background: #f1f1f1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.jspVerticalBar .jspTrack {
	width: 6px !important;
	right: 3px;
  top: 0;
	height: 100%;
}

.jspHorizontalBar .jspTrack {
	width: 100%;
  bottom: 1px;
  left: 0;
  height: 6px !important;
}

.jspVerticalBar .jspDrag,
.jspHorizontalBar .jspDrag {
  position: absolute;
	background: #97b0bf;
	overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.jspVerticalBar .jspDrag {
  cursor: ns-resize;
}

.jspHorizontalBar .jspDrag {
  cursor: ew-resize;
}

.jspVerticalBar .jspDrag {
	left: -2px;
	width: 10px !important;
}

.jspHorizontalBar .jspDrag {
	top: -2px;
  height: 10px !important;
}


/* Action Panels */

.action_bar {
  width: 160px;
  position: relative;
  padding: 17px 7px;
  text-align: center;
  margin: 0 0 55px;
  background-color: #cad3db;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.action_bar .label {
  color: #21587F;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 3px;
  display: block;
}

.action_bar .more_button,
.action_bar .hide_button {
  background: url("../images/page/discuss/action_panel_expander.png") no-repeat scroll left top transparent;
	display: inline-block;
  width: 174px;
  height: 24px;
  position: relative;
  top: 17px;
  left: -7px;
}

.action_bar .more_button:hover {background-position: 0 -24px;}
.action_bar .hide_button {background-position: 0 -48px;}
.action_bar .hide_button:hover {background-position: 0 -72px;}

.action_bar .actions_container {
  width: 158px;
  background: #F7FAFA;
  display: inline-block;
  padding-bottom: 15px;
  border: 1px solid #acbdc6;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.actions_container .text_button {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0 0;
  display: inline-block;
}
