/*
    Document   : connect.css
    Created on : 15.09.2009, 08:34:36
    Author     : joe
    Description:
      Design screen elements for connect section.
*/

/* SEGMENTS */

.segments {
  margin: 0 auto;
  width: 990px;
  color: #21587f;
  z-index: 1;
  text-align: center;
  position: relative;
}

.segments ul {
  margin: 0px;
  padding: 0px;
}

.segments li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
  margin: 0 8px;
}

.segments a {
  color: #21587f;
  background: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.segments a:hover, .segments a.active, .segments a.active:hover {
  color: #7bb031;
}


/* RESULTS */

#connect_results .box_header_icon {
  background: url(../images/page/box/box_icon_people.png) repeat-x left top;
}

.results_sort {
  width: 990px;
  background: url(../images/page/separator_no_shadow.png) no-repeat bottom;
  display: inline-block;
  padding-bottom: 7px;
  margin: 0 0 17px 0px;
  position: relative;
}

.results_count {
  color: #7bb031;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
}

/* PROFILE DETAILS. */

#profile_details_container .tab_content_container {
  width: 670px;
  padding: 0 0 0 10px;
}

#profile_details_tabs {
  margin-bottom: 15px;
}

#full_name {
  color: #7AB031;
  font-size: 18px;
  background: none;
  position: absolute;
  left: 10px;
  top: 9px;
  cursor: default;
}

#close_details_container {
  color: #7691a2;
  font-size: 14px;
  background: none;
  position: absolute;
  right: 10px;
  top: 12px;
  text-decoration: none;
}

/* Avatar part */
#avatar {
  float:left;
  width: 140px;
  text-align: center !important;
}

#avatar img {
  max-width: 128px;
  max-height: 180px;
  border: 2px solid #7bb031;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#avatar_location {
  display: block;
  width: 128px;
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  cursor: default;
}

#avatar_location span {
  font-weight: bold;
}

/* Overview part */

#overview ul {
  margin: 0;
  padding: 0;
}

#overview li {
  list-style-type: none;
  line-height: 24px;
  width: 310px;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  margin: 0 8px 20px;

}

#overview li .label, #concernments .languages_label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}

#overview li .value {
  color: #21587f;
  display: block;
  width: 290px;
}

#overview li .value .membership_organisation {
  font-weight: bold;
}

#overview #memberships, #overview #memberships .value {
  width: 630px;
}

/* Concernments */
#concernments {
  margin-left: 8px;
}

#concernments .label {
  color: #7bb031;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}

#concernments .language {
  font-weight: bold;
}

#concernments .values {
  color: #21587f;
  display: block;
  width: 630px;
  margin-bottom: 20px;
}

/* Web profiles */
#web_addresses {
  margin-left: 8px;
  display: block;
}

#web_addresses .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  display: inline-block;
  width: 150px;
  vertical-align: top;
}

#web_addresses .values {
  color: #21587f;
  display: inline-block;
  width: 480px;
  margin-bottom: 12px;
  vertical-align: top;
}

/* Overview & Concerments & Web Profiles */
#profile_details_container .tab_content_container .no_results {
  width: 670px;
  text-align: center;
  color: #21587f;
  font-size: 15px;
  position: relative;
  top: 60px;
  display: block;
  cursor: default;
}

#profile_details_container .label {
  cursor: default;
}

#profile_details_container .value, #profile_details_container .values {
  font-size: 14px;
  cursor: text;
}

/* Actions part */
#profile_details_container #actions.actions {
  float: right;
  width: 128px;
  min-height: 128px;
  border-left: 1px solid #A8A8A8;
  text-align: center;
}

#actions .action_button {
  padding-left: 20px;
  font-size: 15px;
}

#actions .report_action {
  background: url(../images/page/icons/report.png) no-repeat scroll 0 0;
}

/* Report */

#new_report_form .hidden, #new_report_form .buttons {
  display: none;
}