
/* -------------- */
/* Pilot projects */
/* -------------- */

#echo.tab_content_container, #pilot_projects.tab_content_container {
  width: 945px;
}

.function_button img{
  border: medium none;
}

/* ------ */
/* Search */
/* ------ */

#function_container .simple_header_block h2 {
  color: #21587f !important;
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 6px;
  margin-bottom: 15px;
}


/***#function_container .simple_header_block .header_button {
  margin-top: -39px;
  margin-right: 0;
}***/

/************************/
/****** lwRTE ***********/
/************************/

form.formtastic fieldset .rte-zone {
  color: #21587f;
}

form.formtastic fieldset .rte-zone li {
  float: left;
  width: 25px;
  margin: 5px 2px;
}

form.formtastic fieldset .rte-zone li.separator {
  border-right: 0px;
  width: 1px;

}

form.formtastic fieldset ol li.text .rte-zone textarea {
  border: 0px;
  padding: 0px;
}

.rte-resizer {
  display: none;
}

.document_frame {
  color: #21587F;
}

/**************/

#function_container .search_category {
  float: left;
  margin: 6px 0 -25px 7px;
  font-weight: bold;
  cursor: default;
}

#function_container .new_question {
  float: right;
  margin: 6px 7px -25px 0;
}

#discuss_results .box_header_icon {
  background: url(../images/page/box/box_icon_discuss.png) repeat-x left top;
}

#discuss_results .ttLink img {
  color: #7BB031;
}

/* ----------------------------- */
/* New and Edit Statements forms */
/* ----------------------------- */

#new_statement textarea, #summary textarea {
  height: 200px;
}

#new_statement p {
  cursor: default;
}

#new_statement #question_state_id_input li {
  width: 700px;
}

.statement_form_illustration {
  float: left;
  margin: 30px 0 0 15px;
  border: none;
}

/* ------- */
/* CONTEXT */
/* ------- */

.context_line {
  clear: both;
  min-height: 30px;
  display: inline-block;
}

.context_buttons {
  width:          135px;
  min-height:     1px;
  display:        inline-block;
  float:          left;
  position:       relative;
  top:            -8px;
  text-align:     center;
  height:         30px;
  overflow:       visible;
}

.context_link {
  display:        inline-block;
  min-height:     30px;
  width:          855px;
  float:          left;
}

.context_link .statement_link {
  background-position: 0 2px;
}

#context .context_link a {
  width:          600px;
  display:        inline-block;
  color:          #21587F;
  font-size:      18px;
  font-weight:    bold;
  text-decoration:none;
}

#context .context_link a:hover {
  color: #7bb031;
}

#context .context_line.active .context_link a {
  color: #7bb031;
}

/* Prev/Next Statement buttons */
.context_buttons .prev_stmt, .context_buttons .next_stmt {
  display: inline-block;
  width: 37px;
  height: 39px;
  padding: 0;
  cursor: pointer;
}

.context_buttons .prev_stmt {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll 0 -117px;
}

.context_buttons .next_stmt {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll -37px -117px;
}

.context_line:hover .prev_stmt, .context_line.active .prev_stmt {
  background-position: 0 0;
}

.context_line:hover .next_stmt, .context_line.active .next_stmt {
  background-position: -37px 0px;
}

.context_line:hover .prev_stmt:hover {
  background-position: 0 -39px;
}

.context_line:hover .next_stmt:hover {
  background-position: -37px -39px;
}

.context_line:hover .prev_stmt.disabled, .context_line.active .prev_stmt.disabled {
  background-position: 0 -78px;
  cursor: default;
}

.context_line:hover .next_stmt.disabled, .context_line.active .next_stmt.disabled {
  background-position: -37px -78px;
  cursor: default;
}

.echo_label {
  background: url("../images/page/discuss/echo_small.png") no-repeat scroll 0 0;
  float: right;
  padding-left: 20px;
  position: relative;
  right: 20px;
  cursor: default;
}

/* ------- */
/* Sidebar */
/* ------- */

#discuss_sidebar {
  clear:      both;
  float:      left;
  width:      140px;
  text-align: center;
  margin-top: 15px;
}

/* echo button */
#echo_button span {
  height:   80px;
  width:    80px;
  display:  inline-block;
  background-image: url(../images/page/discuss/echo_all.png);
  cursor: pointer;
}


#echo_button .supported           { background-position: 0 -80px; }
#echo_button .supported:hover     { background-position: 0 80px; }
#echo_button .not_supported:hover { background-position: 0 -80px; }

#create_parent_element_button {
  display: inline-block;
  margin: 10px 0 0;
}

#create_parent_element_button a {
  margin: 0;
}

/* --------- */
/* Main area */
/* --------- */

.discuss_right_block {
  margin-left:  140px;
  width:        835px;
  padding-left: 15px;
}

#summary.discuss_right_block {
  width: 815px;
}

.statement_content a {
  color: #21587f;
  text-decoration: underline;
}


/* echo indicators */

.echo_indicator, .no_echo_indicator {
  height:       12px !important;
  width:        170px;
  display:      inline-block;
  margin:       0 20px;
  float:        right;
}

#context .echo_indicator, #context .no_echo_indicator {
  margin-top: 3px;
}

#children .echo_indicator, #children .no_echo_indicator {
  margin-top: 3px;
}

.no_echo_indicator {
  border:       1px solid #BAC8D0;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.no_echo_indicator:hover  {
  border:       1px solid #BAC8D0 !important;
}

/* Statement links & buttons */

a.statement_link {
  color: #21587f;
  font-size: 14px;
  font-weight: bold;
  display:inline-block;
  min-height: 20px;
  padding-left: 21px !important;
  width: 585px;
  vertical-align: top;
  margin-bottom: 5px;
}

a.statement_link:hover {
  color: #7bb031;
}

.question_links {
  list-style:none;
}

.question_link {
   background:transparent url(../images/page/discuss/question_small.png) no-repeat scroll 0 0;
}

.proposal_link {
  background:transparent url(../images/page/discuss/proposal_small.png) no-repeat scroll 0 0;
}

.improvement_proposal_link {
  background:transparent url(../images/page/discuss/improvement_proposal_small.png) no-repeat scroll 0 0;
}

.create_question_button {
  background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;
}

.create_proposal_button {
  background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;
}

.create_improvement_proposal_button {
  background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;
}


/* ------------------- */
/* Children statements */
/* ------------------- */

#children_list ul {
  min-height: 145px;
}

#children_list li {
  margin: 4px 0;
}

#children .pagination {
  width: 830px !important;
}

#children .text_button {
  margin-left: 0px;
}

/* Others */
#echo.tab_content_container, #pilot_projects.tab_content_container {
  width: 945px;
}

/* Title in discuss listing */
#discuss_results .ttLink img{
	color:#7BB031;
}


/* ------------------- */
/* Translations        */
/* ------------------- */

.translation_box_class {
  height: 55px;
	margin: 0 -10px 0px;
	text-align: center;
}

.translation_box_class .fish_left {
  position: absolute;
  left: 12px;
  top: 2px;
}

.translation_box_class .fish_right {
  position: absolute;
  right: 12px;
  top: 2px;
}

.translation_box_class .language_label {
  position: absolute;
  top: 20px;
  font-weight: bold;
  cursor: default;
}

.translation_box_class .from_language {
  left: 83px;
}

.translation_box_class .to_language {
  right: 83px;
  text-align: right;
}

.translation_box_class .translation_link {
  position: relative;
  top: 19px;
  font: 14px;
  color: #21587f;
}

.translation_box_class .translation_link strong {
  font-size: 1em;
}

.translation_box_class .translation_link:hover {
  cursor: pointer;
  color: #7bb031;
}

.translation_box_class .arrow {
  position: relative;
  top: 4px;
}

.translation_box_class .profile_link {
  top: 11px;
}

/* Translation form */

#new_translation form {
  margin-top: 15px;
}

#new_translation .left_panel {
  float: left;
}

#new_translation .right_panel {
  float: right;
}

#new_translation input {
  width: 380px;
}

#new_translation textarea {
  width: 385px;
  height: 200px;
}

#new_translation fieldset.buttons {
  clear: both;
}

#new_translation .static_text {
	height: 225px;
	width: 380px;
	border: 1px solid #999999;
	overflow: auto;
  padding: 2px;

}

#statement_tags_container .form_container {
	display:inline-block;
	margin:7px 0 25px;
	vertical-align:top;
	width:410px;
}

#statement_tags_container .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  cursor: default;
}

#statement_tags_container #tag_topic_id {
  width: 250px !important;
  padding: 2px 0;
  color: #21587F;
}

#statement_tags_container .add_text_button {
	display: inline-block;
  position: relative;
  top: -2px;
}


/******************************************/
/********* MY DISCUSSIONS AREA*************/
/******************************************/

#discussion_list a.avatar_holder{
	float: left;
}

#discussion_list li.question {
	width: 100%;
  height: 52px;
  margin: 4px 0;
  display: inline-block;
  clear: both;
}

#discussion_list a.statement_link {
	float: left;
	width: 290px;
  height: 52px;
	margin: -2px 5px 0 0;
	padding: 0;
  overflow: hidden;
}

#discussion_list .tags_list {
	float: left;
	padding-left: 25px !important;
	width: 215px;
	margin-top: -2px;
  height: 52px;
  overflow: hidden;
}

#discussion_list .buttons {
	float: right;
	width: 200px;
  text-align: center;
}

#discussion_list a.publish_button {
	float: left;
	background: url("../images/page/publish_button_200.png") no-repeat scroll left top transparent;
	border: medium none;
	color: #21587F;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 12px 0 4px 15px;
	text-align: center;
	width: 200px !important;
  position: relative;
  top: -5px;
}

#discussion_list a.publish_button:hover {
  background-position: 0 -43px;
}

#discussion_list span.publish_button {
  background:transparent url(../images/page/icons/publish_button.png) no-repeat scroll 0 0;
  background-position: 0 -17px;
  height: 17px;
  line-height: 17px;
  display: inline-block;
  padding-left: 20px;
}

#my_discussions .pagination {
	width: 100%;
}

#my_discussions .avatar_holder img {
  max-width: 45px;
  max-height: 45px;
  border: 2px solid #7bb031;
}
