
/******************/
/* Pilot projects */
/******************/

#echo.tab_content_container, #pilot_projects.tab_content_container {
  width: 945px;
}

.function_button img {
  border: medium none;
}


/**************/
/* Action bar */
/**************/

#questions_container .action_bar {
  top: 8px;
  float: left;
}

#my_questions .action_bar {
  top: 0;
  float: left;
}

.statement .action_bar {
  left: 7px;
  top: 43px;
  float: left;
}


/****************/
/* My Questions */
/****************/

#my_questions .add_new_button {
  text-align: center;
}

.action_bar .add_new_question_icon {
	background-image: url(../images/page/discuss/add_question_42.png);
  height:   42px;
  width:    42px;
  display:  inline-block;
  cursor: pointer;
	margin-top: 10px;
}

.action_bar .big_action_button:hover .add_new_question_icon {
  background-position: 0 -42px;
}

.action_bar .embed_icon {
  background-image: url(../images/page/discuss/embed_icon_big.png);
  height:   42px;
  width:    69px;
  display:  inline-block;
  cursor: pointer;
  margin-top: 10px;
}

.action_bar .big_action_button:hover .embed_icon {
  background-position: 0 -42px;
}

#question_list a.avatar_holder {
	float: left;
}

#question_list li.question {
	width: 100%;
  height: 52px;
  margin: 4px 0;
  display: inline-block;
  clear: both;
}

#question_list a.statement_link {
	float: left;
	width: 290px;
  height: 52px;
	margin: -2px 5px 0 0;
	padding-left: 20px;
  overflow: hidden;
}

#question_list .tags_list {
	float: left;
	padding-left: 20px !important;
	width: 195px;
	margin-top: -2px;
  height: 52px;
  overflow: hidden;
}

#question_list .buttons {
	float: right;
	width: 200px;
  text-align: center;
}

a.publish_button {
	background: url("../images/page/publish_button_200.png") no-repeat scroll left top transparent;
	border: medium none;
	color: #21587F;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 12px 0 4px 15px;
	text-align: center;
	width: 200px !important;
  position: relative;
  top: -5px;
}

a.publish_button:hover {
  background-position: 0 -43px;
}

span.publish_button {
  background:transparent url(../images/page/icons/publish_button.png) no-repeat scroll 0 0;
  background-position: 0 -17px;
  height: 17px;
  line-height: 17px;
  display: inline-block;
  padding-left: 20px;
}

#my_questions .pagination {
	width: 100%;
}

#my_questions .avatar_holder img {
  max-width: 45px;
  max-height: 45px;
  border: 2px solid #7bb031;
}

#my_questions .no_questions {
  margin-top: 30px;
}


/****************/
/* echo Discuss */
/****************/

#echo_discuss.function_container {
  margin-top: 5px;
}


/*********************************/
/* New and Edit Statements forms */
/*********************************/

#statements form.formtastic .editorial_state li {
  width: 700px;
}

#statements textarea, .summary textarea {
  height: 200px;
  width: 760px;
}

form.statement p {
  cursor: default;
}

form.statement #question_state_id_input li {
  width: 700px;
}

form.statement .discuss_right_block {
	margin-left: 190px;
}

.new_statement_button_illustration {
  width: 50px;
}

.statement_form_illustration {
  float: right;
  margin: 0 35px 0 30px;
  border: none;
}

form.statement .header_link .icon {
  background-image: url(../images/page/discuss/statement_icons_16.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: block;
  position: absolute;
  top: 3px;
}

form.question .header_link .icon,
form.follow_up_question .header_link .icon {background-position: 0 0;}
form.proposal .header_link .icon {background-position: -16px 0;}
form.improvement .header_link .icon {background-position: -32px 0;}
form.pro_argument .header_link .icon {background-position: -48px 0;}
form.contra_argument .header_link .icon {background-position: -64px 0;}

form.background_info .header_link .icon {background-image: url(../images/page/discuss/bi_icons_16.png);}
form.article .header_link .icon {background-position: 0 0;}
form.paper .header_link .icon {background-position: -16px 0;}
form.book .header_link .icon {background-position: -32px 0;}
form.audio .header_link .icon {background-position: -48px 0;}
form.photo .header_link .icon {background-position: -64px 0;}
form.video .header_link .icon {background-position: -80px 0;}
form.law .header_link .icon {background-position: -96px 0;}
form.document .header_link .icon {background-position: -112px 0;}
form.misc .header_link .icon {background-position: -128px 0;}

form.background_info.no_type .header_link .icon {
  background-image: url(../images/page/discuss/statement_icons_16.png);
  background-position: -96px 0;
}

form.statement .header_link fieldset ol li {
  padding-left: 20px;
}

form.translation fieldset ol li {
	padding-left: 0;
}

form.statement fieldset ol span.defaultText {
	position: absolute;
	left: 4px;
	top: 31px;
}

#statements .statement {
  display: inline-block;
	position:relative;
}

#statements form .content {
  margin-top: 0;
}

#statements form.translation .content {
  margin-top: 6px;
}

#statements form.linked fieldset.statement_title input {
  color: #555 !important;
}

#statements form .statement_title,
#statements form .statement_title li,
#statements form .statement_title input {
  margin-bottom: 0;
  width: 547px;
}

#statements form .linkable .statement_title,
#statements form .linkable .statement_title li,
#statements form .linkable .statement_title input {
  width: 433px;
  padding-right: 114px;
}


#statements form.formtastic fieldset.statement_language {
  margin-top: -10px;
}

#statements form.formtastic fieldset.statement_language li,
#statements form.formtastic fieldset.statement_language select {
  margin: 0;
  width: 200px;
  vertical-align: top;
}

#statements form.formtastic fieldset.statement_language li {
  margin-right: 24px;
}

#statements form.formtastic fieldset.statement_language .language_combo {
  margin-bottom: 20px;
}

#statements form.formtastic fieldset.statement_language li.hint {
  margin-bottom: 20px;
}

form .hint p {
  margin: 10px 0;
}

form.formtastic fieldset.statement_text {
  position: relative;
}

#statements form fieldset.statement_text .action_bar {
  position: absolute;
  left: -198px;
  top: -39px;
}

form.formtastic fieldset.statement_tags .tags_container {
  margin-bottom: 10px;
}

form.formtastic fieldset.statement_tags .tag_container {
  width: 365px;
}

form.formtastic fieldset.publish_radios .label,
form.formtastic fieldset.publish_radios li {
  width: 700px;
}

form.statement .header .link_button {
	background: transparent url(../images/page/discuss/linking_button.png) 0 -40px no-repeat scroll;
  display: inline-block;
	width: 80px;
  height: 18px;
	position: absolute;
	top: 2px;
	right: 223px;
	padding: 2px 0 0 26px;
	color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
	cursor: pointer;
}

form.statement .ac_loading {
	background-position: 428px 3px;
}

form.statement .header .link_button.off {
  background-position: 0 0;
}

form.statement .header .link_button.off:hover {
	background-position: 0 -20px;
}

/*********************/
/* Embeddded content */
/*********************/

form.embeddable .embed_data .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  display: block;
  padding-top: 10px;
}

form.embeddable .entry_types label {
	color: #21587F;
	line-height: 32px;
  padding-left: 40px;
  cursor: pointer;
}

form.embeddable .entry_types .entry_type {
  margin-top: -10px;
}

form.embeddable .entry_types {
  background: #F5F7F9;
  box-shadow: 0 0 60px #EBEFF2;
  -moz-box-shadow: 0 0 60px #EBEFF2;
  -webkit-box-shadow: 0 0 60px #EBEFF2;
  width: 542px;
  margin: 10px 0 15px;
  padding: 20px 30px 0;
  border: 2px solid #AAA;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

form.embeddable .entry_types li {
	float: left;
	width: 180px;
	cursor: pointer;
}

form.embeddable .entry_types input {display: none;}

form.embeddable .entry_types li:hover label,
form.embeddable .entry_types li.selected label {
	color: #7BB031;
}


form.embeddable .entry_types li .icon {
  background-image: url("../images/page/discuss/bi_icons_32.png");
	padding-left: 32px;
  height: 32px;
  display: block;
  clear: left;
  float: left;
}

form.embeddable .entry_types .article .icon {background-position: 0 0;}
form.embeddable .entry_types .paper .icon {background-position: -32px 0;}
form.embeddable .entry_types .book .icon {background-position: -64px 0;}
form.embeddable .entry_types .audio .icon {background-position: -96px 0;}
form.embeddable .entry_types .photo .icon {background-position: -128px 0;}
form.embeddable .entry_types .video .icon {background-position: -160px 0;}
form.embeddable .entry_types .law .icon {background-position: -192px 0;}
form.embeddable .entry_types .document .icon {background-position: -224px 0;}
form.embeddable .entry_types .misc  .icon {background-position: -256px 0;}

form.embeddable .entry_url_container li {
  width: 762px;
}

form.embeddable input.embed_url {
  width: 600px !important;
  margin-top: 5px;
  border: 1px solid #999999;
  padding: 3px;
  color: #21587f;
}

form.embeddable.linked input.embed_url {
  color: #555 !important;
}

.statement .embed_container {
  clear: both;
  background: url(../images/page/separator_no_shadow.png) no-repeat center top;
  margin: 5px auto 25px;
  text-align: center;
	padding-top: 13px;
  display: inline-block;
  width: 100%;
  min-height: 350px;
}

form.embeddable .embed_container {
  margin-left: -205px;
  width: 990px;
  min-height: 42px;
  padding-top: 25px;
}

form.embeddable .embed_data {
  margin-bottom: 30px;
}

.statement .embedded_content_button {
  background: none repeat scroll 0 0 #F7FAFA;
  color: #21587F;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 15px;
  position: relative;
  top: -20px;
  border: 1px solid #A8A8A8;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
}

.statement .embedded_content_button:hover {
  color: #7bb031;
}

.statement .embed_container .loading {
  background: url(../images/indicator_28.gif) no-repeat scroll left top transparent;
  width: 28px;
  height: 28px;
  display: block;
  position: relative;
  left: 478px;
  top: 7px;
  opacity: 0.4;
}

.statement .embedded_content {
  display: none;
}

.statement .embedded_content.manual iframe {
  width: 100%;
  height: 1000px;
	overflow-x: hidden;
	overflow-y: auto;
}


/*********/
/* lwRTE */
/*********/

form.formtastic fieldset .rte-zone {
  color: #21587f;
  width: 763px !important;
}

form.formtastic fieldset.right_panel .rte-zone {
  width: 358px !important;
}

form.formtastic fieldset .rte-zone li {
  float: left;
  width: 25px;
  margin: 5px 2px;
	padding-left: 0;
}

form.formtastic fieldset .rte-zone li.separator {
  border-right: 0;
  width: 1px;

}

form.formtastic fieldset ol li.text .rte-zone textarea {
  border: 0;
  padding: 0;
}

.rte-resizer {
  display: none;
}

.document_frame {
  color: #21587F;
}


/*****************************/
/* Statement links & buttons */
/*****************************/

.add_new_button {
  vertical-align: top;
}

.add_header_link .add_new_button {
  font-size: 18px;
  margin-left: 0;
  padding-left: 22px;
  background-position: 0 3px;
  line-height: 20px;
}

a.statement_link {
  color: #21587f;
  font-size: 14px;
  font-weight: bold;
  display:inline-block;
  min-height: 20px;
  vertical-align: top;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}

a.statement_link.active {
	color: #7bb031;
}

.header_buttons a.statement_link.prev, .header_buttons a.statement_link.next {
	padding-left: 0 !important;
}

a.statement_link:hover {
  color: #7bb031;
}

.statement_link.search_link .icon {background: transparent url(../images/page/discuss/search_icon_16.png) no-repeat scroll 0 0;}
.statement_link.my_discussions_link .icon {background: transparent url(../images/page/discuss/my_discussions_16.png) no-repeat scroll 0 -1px;}

.statement_link .icon {
  background-image: url(../images/page/discuss/statement_icons_16.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  line-height: 16px;
  position: absolute;
}
.question_link .icon, .follow_up_question_link .icon {background-position: 0 0;}
.proposal_link .icon {background-position: -16px 0;}
.improvement_link .icon {background-position: -32px 0;}
.pro_argument_link .icon {background-position: -48px 0;}
.contra_argument_link .icon {background-position: -64px 0;}
.alternative_statement .icon {background-position: -80px 0;}

.statement_link.background_info_link .icon {
  background-image: url(../images/page/discuss/bi_icons_16.png);
}

.article_link .icon {background-position: 0 0;}
.paper_link .icon {background-position: -16px 0;}
.book_link .icon {background-position: -32px 0;}
.audio_link .icon {background-position: -48px 0;}
.photo_link .icon {background-position: -64px 0;}
.video_link .icon {background-position: -80px 0;}
.law_link .icon {background-position: -96px 0;}
.document_link .icon {background-position: -112px 0;}
.misc_link .icon {background-position: -128px 0;}

.create_question_button,
.create_proposal_button,
.create_improvement_button,
.create_pro_argument_button,
.create_contra_argument_button,
.create_follow_up_question_button,
.create_alternative_button,
.create_background_info_button {
  background: transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;
  display: inline-block;
  line-height: 16px;
}

.header .statement_link .icon {top: 3px}
.children_pagination .statement_link .icon, .doubles_list .statement_link .icon {top: 1px}

.statement_link .title {
  position: relative;
  left: 21px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.siblings_panel a.statement_link .title,
.alternatives a.statement_link .title,
.children a.statement_link .title {
  line-height: 18px;
  top: -1px;
}

/**********/
/* Search */
/**********/

.question_links {
  list-style: none;
}

#discuss_search_container.search_container {
  margin: 40px auto 30px;
}

#questions_container {
  display: inline-block;
  margin-top: 7px;
}

.questions_container .header {
	background: #B5C0C9 url("../images/page/colored_header_780.png") no-repeat scroll 0 0;
  clear: both;
  display: inline-block;
  width: 780px;
  height: 55px;
	margin-bottom: 10px;
}

.questions_container .header .icon {
	display: inline-block;
  background: url(../images/page/box/box_icon_discuss.png) repeat-x left top;
	height: 36px;
	width: 36px;
	position: relative;
	top: 15px;
  left: 8px;
}

.questions_container .header .label {
	 color: #21587F;
   cursor: default;
   font-size: 16px;
   font-weight: bold;
	 position: relative;
	 left: 15px;
	 top: 1px;
}

.questions_container .content {
  margin: 0;
  padding: 0 5px;
  width: 770px;
  display: inline-block;
}

.questions_container .question {
  width: 100%;
	display: block;
	position: relative;
  padding-top: 15px;
  clear: both;
}

.questions_container .question .avatar_holder {
	float: left;
  margin-right: 16px;
  width: 145px;
}

.questions_container .question .avatar_holder img {
  max-width: 145px;
  max-height: 90px;
  border: 2px solid #7BB031;
}

.questions_container .question .middle_block {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 405px;
  overflow: hidden;
}

.questions_container .question .title a.statement_link {width: 400px;}

.questions_container .question .title a.statement_link .title {
  font-size: 18px;
  font-weight: bold;
  left: 0;
}

.questions_container .question .title a.statement_link .icon {
  display: none;
}

.questions_container .question .title a.create_question_button {
  background-position: 0 3px;
  font-size: 18px;
  margin-left: 0;
  padding-left: 22px;
  position: relative;
  text-decoration: underline;
  line-height: 20px;
}

.questions_container .question .description {
  margin-top: 10px;
}

.questions_container .question.teaser .description {
  margin-top: 20px;
}

.questions_container .question .right_panel {
  float: right;
  display: block;
  position: relative;
}

.questions_container .question .echo_indicator,
.questions_container .question .no_echo_indicator {
  margin: 2px 0 0;
}

.questions_container .question .right_panel .supporters_label {
  right: 2px;
  top: 18px;
}

.questions_container .question .buttons {
  position: absolute;
	right: -30px;
	top: 45px;
}

.questions_container .more_pagination {
  margin: 20px 0 15px;
}

.questions_container .language_skills_teaser_box {
  margin: 10px 5px;
  width: 770px;
  height: 75px;
}

.questions_container .language_skills_teaser_box .fish_left {
  top: 11px;
}

.questions_container .language_skills_teaser_box .language_label,
.questions_container .language_skills_teaser_box .translation_link {
  top: 29px;
}

/* Action bar in Discuss Search */

.action_panel {
  margin-top: 40px;
}

.action_panel_header {
  background: transparent url(../images/page/action_bar_header.png) no-repeat scroll 0 0;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  cursor: default;
}

.action_panel_content {
  width: 114px;
  background: #F7FAFA;
  display: inline-block;
  margin: -1px 12px 0;
  padding: 10px;
  border: 1px solid #acbdc6;
  border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
}

.action_panel_content .featured_topic {
  display: inline-block;
  margin: 15px 0;
}

.action_panel_content .featured_topic_picture {
  border: none;
}

.action_panel_content .featured_topic_label {
  color: #21587F;
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
}

.action_panel_content .featured_topic:hover .featured_topic_label {
  color: #7bb031;
}


/***************/
/* Breadcrumbs */
/***************/

.breadcrumbs {
  overflow: auto;
  height: 62px;
  margin: 0 0 10px 10px;
  width: 970px;
}

.breadcrumbs .jspContainer {
  height: 62px !important;
}

.breadcrumbs .jspVerticalBar {
  display: none;
}

.breadcrumbs .jspHorizontalBar {
  bottom: 0;
}

.breadcrumbs .jspHorizontalBar .jspDrag {
 height: 8px !important;
 top: -1px;
}

.breadcrumbs .elements {
  display: inline-block;
  text-align: left;
}

.breadcrumb {
  color: #21587f;
  height: 49px;
	float: left;
	width: 280px;
	overflow: hidden;
  position: relative;
  cursor: default;
}

.breadcrumb:hover {
  cursor: pointer;
}

.breadcrumb .delimiter {
  background: transparent url(../images/page/discuss/breadcrumb_delimiter_small.png) no-repeat scroll 0 0;
  width: 11px;
  height: 23px;
  position: absolute;
  left: 12px;
  top: 19px;
}

.breadcrumb.fq .delimiter,
.breadcrumb.jp .delimiter {
  background: transparent url(../images/page/discuss/breadcrumb_delimiter_big.png) no-repeat scroll 0 0;
  width: 11px;
  height: 23px;
  font-weight: bold;
  position: absolute;
  left: 11px;
  top: 16px;
}

.breadcrumb .label,
.breadcrumb .over {
	display: inline-block;
  position: absolute;
  font-size: 12px;
  left: 61px;
  top: 0;
  width: 215px;
}

.breadcrumb .over,
.breadcrumb:hover .label {
  display: none;
}

.breadcrumb:hover .over {
  display: block;
}

.breadcrumb .icon {top: 0;}

.breadcrumb .statement_link {
  padding-top: 1px;
  position: absolute;
  top: 19px;
  left: 40px;
  font-size: 12px;
  font-weight: bold;
  width: 215px;
}

.breadcrumb:hover .statement_link {
  color: #7bb031;
}


/***************/
/* echo button */
/***************/

.action_bar .echo_button {
  width:    160px;
  height:   120px;
  display:  block;
  background-image: url(../images/page/discuss/echo_button.png);
  cursor: pointer;
  position: relative;
}

.echo_button:hover { background-position: 0 -120px; }

.echo_button.clicked, .echo_button.pending {
  cursor: default !important;
}

.echo_button_icon {
  height:   85px;
  width:    85px;
  display:  inline-block;
  background-image: url(../images/page/discuss/echo_button_icon.png);
  margin: 3px 0 0 4px;
}

.echo_button:hover.not_supported .echo_button_icon { background-position: 0 -85px; }
.echo_button:hover.not_supported.pending .echo_button_icon,
.echo_button:hover.not_supported.clicked .echo_button_icon
{ background-position: 0 0; }
.echo_button.supported .echo_button_icon { background-position: 0 -170px; }
.echo_button:hover.supported .echo_button_icon { background-position: 0 -255px; }
.echo_button:hover.supported.pending .echo_button_icon,
.echo_button:hover.supported.clicked .echo_button_icon
{ background-position: 0 -170px; }

.echo_button .error_lamp {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 120px;
  background: #F00;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: none;
}


/****************/
/* Popup panels */
/****************/

.popup_panel {
  border: 2px solid #777;
	background: #FEFEFE;
  position: absolute;
  text-align: left;
  z-index: 15;
  cursor: default;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 5px 25px #999;
  -moz-box-shadow: 0 5px 25px #999;
  -webkit-box-shadow: 0 5px 25px #999;
}

.popup_panel .panel_header {
  background: none;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}


/***********************************/
/* Social echo container and panel */
/***********************************/

.statement .social_echo_container {
	display: inline-block;
}

.statement .social_echo_container .social_echo_button {
	background-image: url(../images/page/discuss/social_echo.png);
	width: 150px;
	height: 50px;
	display: inline-block;
	cursor: pointer;
}

.statement .social_echo_container .social_echo_button:hover {
	background-position: 0 50px;
}

.statement .social_echo_panel {
	width: 640px;
  background: #FEFEFE;
  position: absolute;
  top: -50px;
  left: 165px;
}

.statement .social_echo_panel .panel_header {
	background: none;
  width: 400px;
  margin: 16px 0 0 30px;
  font-size: 20px;
  font-weight: bold;
}

.statement .social_echo_panel .panel_description {
  background: none;
  width: 580px;
  margin: 25px 0 0 30px;
}

.statement .social_echo_panel .social_account_list {
	padding-top: 10px;
	height: 100px;
}

.statement .social_echo_panel .social_account {
	display: inline-block;
	width: 130px;
  height: 80px;
  margin: 10px;
  padding: 0;
	text-align: center;
  border: 1px solid #AAA;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: 0 2px 10px #CCC;
  -moz-box-shadow: 0 2px 10px #CCC;
  -webkit-box-shadow: 0 2px 10px #CCC;
  overflow: hidden;
}

/* Social Network labels */
.statement .social_echo_panel .social_label {
  background: transparent url(../images/page/social_echo_icons_big.png) no-repeat scroll 0 0;
  width: 110px;
  height: 35px;
  display: inline-block;
  margin-top: 5px;
}

.statement .social_echo_panel .social_label.facebook { background-position: 0 0; }
.statement .social_echo_panel .social_label.twitter { background-position: -110px 0; }
.statement .social_echo_panel .social_label.yahoo { background-position: -220px 0; }
.statement .social_echo_panel .social_label.linkedin { background-position: -330px 0; }
.statement .social_echo_panel .social_label.google { background-position: -440px 0; }
.statement .social_echo_panel .social_label.facebook.connected { background-position: 0 -35px; }
.statement .social_echo_panel .social_label.twitter.connected { background-position: -110px -35px; }
.statement .social_echo_panel .social_label.yahoo.connected { background-position: -220px -35px; }
.statement .social_echo_panel .social_label.linkedin.connected { background-position: -330px -35px; }
.statement .social_echo_panel .social_label.google.connected { background-position: -440px -35px; }

.statement .social_echo_panel .button {
	display: inline-block;
  width: 100%;
	height: 40px;
  line-height: 40px;
	margin: 0;
	text-decoration: underline;
	cursor: pointer;
  border-radius: 0 0 11px 11px;
  -moz-border-radius: 0 0 11px 11px;
  -webkit-border-radius: 0 0 11px 11px;
}

.statement .social_echo_panel .button.disabled,
.statement .social_echo_panel .button.connect {
  color: #FFF;
  background-color: #AAA;
}

.statement .social_echo_panel .button.connect:hover {
  background-color: #BBB;
}

.statement .social_echo_panel .button.enabled { color: #FFF; }
.statement .social_echo_panel .social_account.facebook .button.enabled { background-color: #526ea5; }
.statement .social_echo_panel .social_account.twitter .button.enabled { background-color: #5dd5fd; }
.statement .social_echo_panel .social_account.yahoo .button.enabled { background-color: #7d287d; }
.statement .social_echo_panel .social_account.linkedin .button.enabled { background-color: #287097; }

.statement .social_echo_panel .button.enabled,
.statement .social_echo_panel .button.disabled {
  padding-left: 25px;
  background-image: url(../images/page/discuss/send_social_echo.png);
  background-repeat: no-repeat;
  width: 105px;
}

.statement .social_echo_panel .button.enabled { background-position: 13px -40px; }
.statement .social_echo_panel .button.enabled:hover { background-position: 13px 0 !important; }
.statement .social_echo_panel .button.disabled { background-position: 13px 0 !important; }
.statement .social_echo_panel .button.disabled:hover { background-position: 13px -40px !important; }

/* Texts */

.statement .social_echo_panel .share_form .block {
	margin: 0 0 15px;
  position: relative;
}

.statement .social_echo_panel .share_form .block.center {
	text-align: center;
}

.statement .social_echo_panel .share_form .block.left {
  margin: 15px 0 15px 28px;
  width: 575px;
  display: inline-block;
}

.statement .social_echo_panel .share_form label {
	width: 130px;
	display: inline-block;
  color: #7bb031;
  font-weight: bold;
}

.statement .social_echo_panel .share_form .hint {
	position: relative;
  left: 40px;
}

.statement .social_echo_panel .share_form .text {
  width: 425px;
  border: 1px solid #777;
  padding: 3px 4px;
  color: #21587f;
  display: inline-block;
}

.statement .social_echo_panel .share_form .counter {
  display: inline-block;
  position: absolute;
  right: 10px;
  margin-top: 3px;
}

.statement .social_echo_panel .share_form .preview {
	height: 60px;
	vertical-align: top;
  cursor: text;
  overflow: hidden;
}

.statement .social_echo_panel .share_form .submit_block .disabled {
	color: #999;
}

.statement .social_echo_panel .share_form .submit_block .disabled:hover {
  background-position: 0 0;
  cursor: default;
}

/****************************/
/* Add New statement button */
/****************************/

#statements .action_bar .add_new_container {
  position: relative;
	margin-top: 20px;
}

.action_bar .big_action_button {
  background-image: url(../images/page/discuss/big_action_button.png);
  width: 160px;
  height: 80px;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
}

#my_questions .big_action_button:hover,
.action_bar .big_action_button:hover {
  background-position: 0 80px;
}

.add_new_button_icon {
	background-image: url(../images/page/discuss/add_new_button_icon.png);
  width:    42px;
  height:   42px;
  display:  inline-block;
  cursor: pointer;
	margin-top: 9px;
}

.big_action_button:hover .add_new_button_icon {
  background-position: 0 42px;
}

/****************/
/* Embed button */
/****************/

.action_bar .embed_button_container {
  position: relative;
}

.action_bar .embed_button {
  display: inline-block;
  background: url(../images/page/discuss/embed_icon_small.png) no-repeat scroll 0 0;
  padding-left: 34px;
  margin-left: 0;
}

.embed_panel {
  top: -75px;
  left: 140px;
  position: absolute;
  width: 400px;
  padding: 21px 30px 25px;
}

.search .embed_panel {
	top: -70px;
  left: 150px;
}

.embed_panel .panel_header {
  width: 350px;
  margin-left: 0 !important;
}

.action_bar .embed_code {
  margin-top: 25px;
  border: 2px solid #7bb031;
  width: 390px !important;
	height: 65px !important;
  padding: 3px;
  cursor: text;
}


/*******************************/
/* Action Panel - More options */
/*******************************/

.statement .action_bar .actions_container {
  margin-top: 10px;
}

/* Copy to clipboard button */

.statement .action_bar .copy_url_container {
  position: relative;
}

.action_bar .copy_url_button {
	background: transparent url(../images/page/discuss/copy_url_16.png) no-repeat scroll 0 0;
	padding-left: 24px;
  height: 16px;
}

.action_bar .copy_url_button:hover {
  background-position: 0 -16px;
}

.copy_url_panel {
  top: -55px;
  left: 140px;
  width: 330px;
  padding: 21px 30px 25px;
}

.copy_url_panel .panel_header {
  width: 280px;
	margin-left: 0 !important;
}

.copy_url_panel .statement_url {
  border: 2px solid #7BB031;
  color: #21587F;
  margin-top: 20px;
  padding: 3px;
  width: 320px;
  cursor: text;
}


/* Add new statement panel */

.statement .add_new_panel {
  width: 575px;
	background: #FEFEFE;
  position: absolute;
	bottom: -69px;
	left: 140px;
}

.statement .add_new_panel.wide {
  width: 700px;
}

.statement .add_new_panel .panel_header {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0 16px 59px;
  width: 400px;
}

.statement .add_new_panel .block_separator {
	height: 1px;
	width: 100%;
	background: #DDD;
  margin: 0;
  border: none;
}

.statement .add_new_panel .container {
  margin: 18px 0 7px;
}

.statement .add_new_panel .resource_link  {
	margin: 0 15px 0 20px;
	padding-top: 7px;
  display: inline-block;
  height: 38px;
  min-width: 60px;
  position: relative;
}

.statement .add_new_panel .resource_link .title {
  color: #21587F;
  text-decoration: underline;
  margin-left: 40px;
}

.statement .add_new_panel .resource_link .icon {
  background-image: url(../images/page/discuss/statement_icons_32.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0;
}

.create_question_button_32 .icon {background-position: 0 0;}
.create_proposal_button_32 .icon {background-position: -32px 0;}
.create_improvement_button_32 .icon {background-position: -64px 0;}
.create_pro_argument_button_32 .icon {background-position: -96px 0;}
.create_contra_argument_button_32 .icon {
  background-position: -128px 4px;
  height: 36px !important;
}
.create_alternative_button_32 .icon {background-position: -160px 0;}
.create_background_info_button_32 .icon {background-position: -192px 0;}
.create_follow_up_question_button_32 .icon {
  background-position: -224px 0;
  left: -5px;
}


/******************/
/* SIBLINGS PANEL */
/******************/

.statement .siblings_panel {
  left: 162px;
  top: -41px;
  width: 819px;
  max-height: 360px;
  padding: 10px 0;
}

.statement .siblings_panel .label {
  color: #21587F;
  display: block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 32px;
  top: 2px;
}

.statement .siblings_panel .children_list {
	margin: 0;
	padding: 0;
  list-style: none;
}

.statement .siblings_panel .children_container {
	margin: 15px 0 0 12px;
}

.siblings_panel a.statement_link {width: 570px;}
.siblings_panel a.statement_link .title {width: 550px;}

.siblings_panel .doubles_list a.statement_link {width: 265px;}
.siblings_panel .doubles_list a.statement_link .title {width: 245px;}

.siblings_panel .doubles_list .children_pagination {
  width: 395px !important;
}

.siblings_panel .children_pagination,
.siblings_panel .children_pagination .jspPane,
.siblings_panel .doubles_list,
.siblings_panel .doubles_list .jspPane {
  width: 800px !important;
}

.siblings_panel .children_pagination .jspVerticalBar,
.siblings_panel .doubles_list .jspVerticalBar {
  right: 2px;
}

/*********************/
/* Statement header  */
/*********************/

#statements .header {
  background:  url(../images/page/discuss/stack_separator.png) no-repeat scroll 7px 0;
  clear: both;
  min-height: 34px;
  display: inline-block;
  width: 990px;
}

#statements .header.active {
  background:  url(../images/page/discuss/stack_separator_active.png) no-repeat scroll 6px -3px;
  min-height: 45px;
}

#statements .header_buttons {
  width: 170px;
  margin-right: 13px;
  min-height: 1px;
  display: inline-block;
  float: left;
  position: relative;
  top: 3px;
  left: 7px;
  height: 30px;
  overflow: visible;
}

#statements .header_buttons .prev {
  position: absolute;
  left: 16px;
}

#statements .header_buttons .next {
  position: absolute;
  right: 10px;
}

#statements .header_buttons .show_siblings_button {
  position: absolute;
  left: 50px;
}

#statements .header_link,
#statements .add_header_link {
  display: inline-block;
  min-height: 20px;
  width: 800px;
  float: left;
  position: relative;
  top: 12px;
  left: 1px;
  margin-bottom: 4px;
}

#statements .header .header_link .statement_link {
  display: inline-block;
  color: #21587F;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
	max-width: 570px;
}

#statements .header .header_link .statement_link .title {
  max-width: 550px;
  line-height: 23px;
}

#statements .header .header_link .statement_link:hover,
#statements .header.active .header_link .statement_link {
  color: #7bb031;
}


/*******************************/
/* Prev/Next Statement buttons */
/*******************************/

.header_buttons .prev_stmt, .header_buttons .next_stmt, .header_buttons .show_siblings_label {
  display: inline-block;
  width: 37px;
  height: 39px;
  padding: 0;
  cursor: pointer;
}

.header_buttons .prev_stmt {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll 0 -117px;
}

.header_buttons .next_stmt {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll -37px -117px;
}

.header_buttons .show_siblings_label {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll -74px -117px;
  width: 75px;
  height: 25px;
  line-height: 20px;
  font-size: 11px;
  font-weight: bold;
  color: #dce0e2;
  position: relative;
  text-align: center;
  top: 9px;
}

.header:hover .prev_stmt, .header.active .prev_stmt {
  background-position: 0 0;
  cursor: pointer;
}

.header:hover .next_stmt, .header.active .next_stmt {
  background-position: -37px 0;
  cursor: pointer;
}

.header:hover .show_siblings_label, .header.active .show_siblings_label {
	background-position: -74px 0;
  cursor: pointer;
  color: #21587f;
}

.header:hover .prev_stmt:hover,
.header .clicked .prev_stmt {
  background-position: 0 -39px;
}

.header:hover .next_stmt:hover,
.header .clicked .next_stmt {
  background-position: -37px -39px;
}

.header:hover .show_siblings_label:hover {
  background-position: -74px -39px;
  color: #7bb031;
}

.header:hover .prev_stmt.disabled,
.header.active .prev_stmt.disabled {
  background-position: 0 -78px;
  cursor: default;
  position: absolute;
  left: 16px;
}

.header:hover .next_stmt.disabled,
.header.active .next_stmt.disabled {
  background-position: -37px -78px;
  cursor: default;
  position: absolute;
  right: 10px;
}

.header:hover .show_siblings_label.disabled,
.header.active .show_siblings_label.disabled {
	background-position: -74px -78px;
  cursor: default;
  position: absolute;
  left: 50px;
  color: #B4BEC3;
}

.supporters_label {
  float: right;
  font-size: 12px;
  position: absolute;
  right: 27px;
  top: 21px;
  cursor: default;
}


/*********************/
/* Statement content */
/*********************/

#statements .content {
  padding-top: 6px;
}

.discuss_right_block {
  margin-left: 190px;
  width: 785px;
  padding-left: 15px;
  clear: right;
}

.function_container .simple_header_block h2 {
  color: #21587f !important;
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 6px;
  margin-bottom: 15px;
}

.summary.discuss_right_block {
  width: 767px;
}

.summary .action_buttons {
  display: block;
  position: relative;
  right: 15px;
}

.statement_content {
	clear: right;
  margin: 12px 0 25px;
  line-height:1.25em;
	width: 767px;
}

.statement_content .image_container {
	float: right;
	margin: 4px 0 20px 20px;
  position: relative;
  text-align: right;
  width: 200px;
}

.statement_content .image {
  border: 1px solid #a8a8a8;
  max-width: 200px;
  max-height: 133px;
}

.statement_content .image_container.editable {
  border: 1px solid #a8a8a8;
  width: 200px;
  height: 133px;
  text-align: center;
}

.statement_content .image_container.editable .image {
  border: none;
}

.statement_content .upload_link {
  background: url(../images/page/discuss/statement_image_button.png) no-repeat scroll left top transparent;
	position: absolute;
  top: 38px;
	left: 32px;
	text-decoration: none;
}

.statement_content a {
  color: #21587f;
  text-decoration: underline;
}

.statement_content strong {
  font-size: 1em;
  font-weight: normal; /* Just to fix some old texts generated with strong. WYSIWYG uses <b> tag - unfortunately. */
}

/**************************/
/* Alternative statements */
/**************************/

.alternatives {
  position: relative;
  left: 7px;
  background: url("../images/page/discuss/cas_panel_bg.png") repeat-y scroll 0 0 #EAF0E1;
	width: 980px;
	margin: 18px 0 5px;
	padding: 6px 0 8px;
}

.alternatives .alt_border {
  background: url("../images/page/discuss/cas_panel_border_shadow.png") no-repeat scroll 0 0;
  width: 980px;
  height: 7px;
  display: inline-block;
  position: relative;
}

.alternatives .alt_border.top {top: -6px !important;}
.alternatives .alt_border.bottom {
  background-position: 0 -7px;
  bottom: -8px !important;
}

.alternatives li {
  line-height: 16px;
}

.alternatives .label {
  position: relative;
  left: 10px;
  top: 5px;
	width: 160px;
	text-align: center;
	float: left;
  margin-right: 17px;
  font-size: 11px;
  font-weight: bold;
  cursor: default;
}

.alternatives .children_container {
	display: inline-block;
	width: 780px;
}

.alternatives .children_pagination,
.alternatives .children_pagination .jspPane {
  width: 805px !important;
}

.alternatives a.statement_link {
  width: 570px;
}
.alternatives a.statement_link .title {
  max-width: 550px;
  line-height: 20px;
}

.alternatives .teaser {
	position: absolute;
	bottom: 30px;
	left: 10px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
}

.alternatives .teaser .arrow {
  background: url("../images/page/discuss/cas_arrow.png") no-repeat scroll 0 0;
  display: block;
  width: 47px;
  height: 38px;
  position: relative;
  bottom: -50px;
  left: 56px;
}

.alternatives .teaser .or {
  font-size: 15px;
  font-weight: bold;
  color: #cad3db;
  position: relative;
  bottom: -63px;
  cursor: default;
}


/***********************/
/* Children statements */
/***********************/

.statement .children.header_block {
	background: url("../images/page/tabbar_header_left.png") no-repeat scroll left top transparent;
	padding-top: 17px;
	display: block;
	position: relative;
}

.statement .children.header_block .headline {
	background: url("../images/page/tabbar_header_right.png") no-repeat scroll right top transparent;
	margin-top: -17px !important;
	height: 43px;
}

.statement .children .headline .child_header {
	background: url("../images/page/tabbar_tab_left.png") no-repeat scroll 0 0;
	background-color: transparent;
	height: 43px;
	padding-left: 23px;
	clear: right;
	text-align: center;
	display: inline-block;
}
.statement .children .headline.active .child_header.selected {
	background-position: left bottom;
}

.statement .children .headline .child_header .header_content {
  background: url("../images/page/tabbar_tab_right.png") no-repeat scroll right top transparent;
	height: 43px;
	min-width: 100px;
	padding: 0 20px 0 0;
	line-height: 40px;
	display: inline-block;
	color: #21587F;
  text-align: left;
}
.statement .children .headline.active .child_header.selected .header_content {
	background-position: right bottom;
	color: #7BB031;
}

.statement .children .headline .header_content:hover {
  color: #7BB031 !important;
}

.statement .children .headline .type {
  margin-left: -3px;
}

.statement .children .headline .count {
  font-weight: normal;
}

.statement .children .children_content {
  overflow: hidden;
}

.children_pagination, .children_pagination .jspPane, .doubles_list, .doubles_list .jspPane {
  width: 785px !important;
}

.doubles_list .children_pagination {
	float: left;
	width: 386px !important;
  display: block;
}

.children_pagination ul {
  min-height: 145px;
}

.children_pagination li {
  margin: 4px 0 0;
}

.children_list .text_button {
  margin-left: 0;
}

.children a.statement_link {width: 550px;}
.children a.statement_link .title {width: 530px;}

.children .doubles_list a.statement_link {width: 260px;}
.children .doubles_list a.statement_link .title {width: 240px;}

.children_pagination, .doubles_list {
  margin-bottom: 3px !important;
  display: inline-block;
}

.doubles_list .children_pagination {
  margin-bottom: 0 !important;
}

.children_pagination .jspVerticalBar, .doubles_list .jspVerticalBar {
  right: 7px;
}

#statements .jspHorizontalBar {
  display: none;
}

/*******************/
/* echo Indicators */
/*******************/

.echo_indicator, .no_echo_indicator {
  height: 13px !important;
  width: 170px;
  display: inline-block;
  margin: 3px 30px 0 0;
  float: right;
}

.header .echo_indicator, .header .no_echo_indicator {
  margin-right: 25px;
  background-color: #FFF;
}

.no_echo_indicator {
  background-color: #FFF;
  border: 1px solid #A9B6BD;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.no_echo_indicator:hover  {
  border: 1px solid #A9B6BD !important;
}

.doubles_list .echo_indicator, .doubles_list .no_echo_indicator {
	margin: 3px 17px 0;
  width: 85px;
  height: 12px !important;
}

.header .echo_indicator, .header .no_echo_indicator, .header .no_echo_indicator:hover {
  border: 1px solid #DCE0E2 !important;
}

.header .echo_indicator .ui-progressbar-value {
  border: 1px solid #DCE0E2 !important;
  background: #e1e5e7;
}

.header:hover .echo_indicator, .header:hover .no_echo_indicator,
.header.active .echo_indicator, .header.active .no_echo_indicator {
  border: 1px solid #A9B6BD !important;
}

.header:hover .echo_indicator .ui-progressbar-value,
.header.active .echo_indicator .ui-progressbar-value {
  border: 1px solid #A9B6BD !important;
  background: url("../images/jquery-ui/ui-bg_gloss-wave_85_9fda58_500x100.gif") repeat-x scroll 50% 50% #7AB031;
}

form .header .echo_indicator, form .header .no_echo_indicator {
  position: absolute;
  top: 0;
  right: 0;
}

/******************/
/* Add new teaser */
/******************/

.statement.add_teaser {min-height: 350px;}

/*****************/
/* Incorporation */
/*****************/

#approved_ip {
  padding: 5px 0 0;
  width: 767px;
}

#approved_ip.only_show {
  border-top: 1px dashed #CCC;
}

#approved_ip.being_incorporated {
  border: 1px dashed #CCC;
  margin: 0 10px 20px 0;
  padding: 0 7px 10px;
}

.incorporate_statement_button_mid {
  background: transparent url(../images/page/discuss/incorporate_button.png) no-repeat scroll 0 0;
  width: 767px;
  height: 54px;
  cursor: pointer;
  position: relative;
  top: 0;
  display: block;
}

.incorporate_statement_button_mid:hover {
 background-position: 0 -54px;
}

#ip_text {
  margin: 15px 0 25px;
}

form #approved_ip {
  width: 750px;
}

form #ip_text {
  margin: 15px 0 5px;
}

/***************/
/* Translation */
/***************/

.translation_box_class {
  height: 55px;
	margin: 15px -10px;
	text-align: center;
  background-color: #bec7cf;
}

.language_skills_teaser_box {
  text-align: right;
  background-color: #DCCB3B;
}

.translation_box_class .fish_left {
  position: absolute;
  left: 12px;
  top: 2px;
}

.translation_box_class .fish_right {
  position: absolute;
  right: 12px;
  top: 2px;
}

.translation_box_class .language_label {
  position: absolute;
  top: 20px;
  font-weight: bold;
  cursor: default;
}

.translation_box_class .from_language {
  left: 83px;
}

.translation_box_class .to_language {
  right: 83px;
  text-align: right;
}

.translation_box_class .translation_link {
  position: relative;
  top: 19px;
  font-size: 14px;
  color: #21587f;
  text-decoration: underline;
  padding: 0 20px;
}

.translation_box_class .translation_link strong {
  font-size: 1em;
}

.translation_box_class .translation_link:hover {
  cursor: pointer;
}

.translation_box_class .arrow {
  position: relative;
  top: 4px;
}

.translation_box_class .profile_link {
  top: 11px;
}

form.translation .rte-panel {
  left: -30px !important;
  top: -218px !important;
}


/********************/
/* Translation form */
/********************/

.translation form {
  margin-top: 15px;
}

.translation .left_panel {
  float: left;
  width: 365px;
}

.translation .right_panel {
  float: right;
  width: 365px;
}

#statements .translation .rte-zone {
  height: 254px;
}

#statements .translation .rte_tr_doc {
  height: 225px;
}

#statements .translation textarea.rte_tr_doc {
  max-height: 250px;
  height: 250px;
  width: 354px;
}

.translation fieldset.buttons {
  clear: both;
}

.translation .static_text {
	height: 250px;
	width: 354px;
	border: 1px solid #999999;
	overflow: auto;
  padding: 2px;
}

form.statement fieldset ol li.tags_container {
	width: 800px;
}

.tags_container .form_container {
	display: inline-block;
	margin: 7px 12px 25px 0;
	vertical-align: top;
	width: 385px;
}

.tags_container .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  cursor: default;
}

.tags_container #tag_topic_id {
  width: 250px !important;
  padding: 2px 0;
  color: #21587F;
  border: 1px solid #999;
}

.tags_container .add_text_button {
	display: inline-block;
  position: relative;
  top: -2px;
}


/*************/
/*  Authors  */
/*************/

.statement .authors .jcarousel-container {
  width: 685px;
  left: -5px;
  /*background: #F8F8F8;*/
  background: #F5F7F9;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 0 0 33px #EBEFF2;
  -webkit-box-shadow: 0 0 33px #EBEFF2;
  box-shadow: 0 0 33px #EBEFF2;
}
.statement .authors .jcarousel-clip-horizontal {
	width: 685px;
}

.statement .authors .jcarousel-item {
	display: none;
}

.statement .authors li.author {
  width: 229px;
	height: 52px;
  overflow: hidden;
  margin: 4px 15px 0 0;
	display: inline-block;
  position: relative;
  cursor: default;
}

.statement .authors .author_link {
  width: 100%;
  height: 100%;
  display: block;
}

.statement .authors .author img {
  float: left;
	border: 2px solid #7BB031;
	max-height: 45px;
	max-width: 45px;
}

.statement .authors .author .name {
	position: absolute;
	top: -2px;
  left: 60px;
	font-size: 14px;
  font-weight: bold;
	overflow: hidden;
  color: #21587f;
}

.statement .authors .author_link:hover .name {
  color: #7bb031;
}

.statement .authors .author .location_orga {
  position: absolute;
	top: 16px;
  left: 60px;
	font-size: 14px;
	overflow: hidden;
  color: #21587f;
}

.statement .authors .author.teaser {
	width: 290px;
}

.statement .authors .author.teaser .add_new_button {
	position: absolute;
  top: 30px;
  left: 39px;
  overflow: hidden;
}

.statement .authors .separator_image {
  width: 810px;
  margin: 15px 0 0 -20px;
}


/**************/
/* Expandable */
/**************/

.statement .loading {
	background: url('../images/indicator_16.gif') left center no-repeat;
  width: 20px;
  height: 20px;
	position: absolute;
  opacity: 0.4;
}

.statement .social_echo_container .loading {
	left: 178px;
  top: 145px;
}

.statement .header .loading {
  left: 158px;
  top: 10px;
}

.statement .action_buttons .loading {
  right: -30px;
	top: 17px;
}

.statement .children .loading {
  right: 40px;
	top: 10px;
}

.expandable {
  cursor: pointer;
}

.expandable .headline {
	position: relative;
}

.expandable .expand_icon {
  background: transparent url(../images/page/discuss/expandable_icons.png) no-repeat scroll 0 0;
  width: 13px;
  height: 7px;
  position: absolute;
  right: 13px;
  top: 18px;
}

.expandable .headline .expand_icon {
  right: 12px;
  top: 12px;
}

.expandable.active .headline .expand_icon {
  top: 13px;
}

.expandable:hover .expand_icon {
  background-position: 0 -14px;
}

.expandable.active .expand_icon {
  background-position: 0 -21px;
}

.expandable.active:hover .expand_icon {
  background-position: 0 -35px;
}

.statement .expandable .headline .echos_label {
  visibility: hidden;
}

.statement .expandable.active .headline .echos_label {
  visibility: visible;
  background: url("../images/page/discuss/echo_small.png") no-repeat scroll 0 0 transparent;
  color: #21587F;
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
  padding-left: 20px;
  position: absolute;
  right: 32px;
  top: 7px;
}



