
/******************/
/* Pilot projects */
/******************/

#echo.tab_content_container, #pilot_projects.tab_content_container {
  width: 945px;
}

.function_button img {
  border: medium none;
}


/**************/
/* Action bar */
/**************/

.action_bar {
  width: 160px;
  clear: both;
  float: left;
  position: relative;
  left: 7px;
  top: 25px;
  padding: 0 0 17px;
  text-align: center;
  margin: 0 0 20px;
}

.action_bar .label {
  color: #21587F;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 3px;
  display: block;
}


/****************/
/* My Questions */
/****************/

#my_questions .action_bar {
  top: 0;
}

#my_questions .add_new_button {
  text-align: center;
}

.action_bar .add_new_question_icon {
	height:   32px;
  width:    32px;
  display:  inline-block;
  background-image: url(../images/page/discuss/add_question_32.png);
  cursor: pointer;
	margin-top: 10px;
}

.action_bar .add_new_button:hover .add_new_question_icon {
  background-position: 0 -32px;
}

.action_bar .add_new_button .label {
  top: 9px;
}

#question_list a.avatar_holder{
	float: left;
}

#question_list li.question {
	width: 100%;
  height: 52px;
  margin: 4px 0;
  display: inline-block;
  clear: both;
}

#question_list a.statement_link {
	float: left;
	width: 290px;
  height: 52px;
	margin: -2px 5px 0 0;
	padding: 0;
  overflow: hidden;
}

#question_list .tags_list {
	float: left;
	padding-left: 20px !important;
	width: 195px;
	margin-top: -2px;
  height: 52px;
  overflow: hidden;
}

#question_list .buttons {
	float: right;
	width: 200px;
  text-align: center;
}

a.publish_button {
	background: url("../images/page/publish_button_200.png") no-repeat scroll left top transparent;
	border: medium none;
	color: #21587F;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding: 12px 0 4px 15px;
	text-align: center;
	width: 200px !important;
  position: relative;
  top: -5px;
}

a.publish_button:hover {
  background-position: 0 -43px;
}

span.publish_button {
  background:transparent url(../images/page/icons/publish_button.png) no-repeat scroll 0 0;
  background-position: 0 -17px;
  height: 17px;
  line-height: 17px;
  display: inline-block;
  padding-left: 20px;
}

#my_questions .pagination {
	width: 100%;
}

#my_questions .avatar_holder img {
  max-width: 45px;
  max-height: 45px;
  border: 2px solid #7bb031;
}

#my_questions .no_questions {
  margin-top: 30px;
}

/*********************************/
/* New and Edit Statements forms */
/*********************************/

#statements form.formtastic .editorial_state li {
  width: 700px;
}

#statements textarea, .summary textarea {
  height: 200px;
}

form.statement p {
  cursor: default;
}

form.statement #question_state_id_input li {
  width: 700px;
}

form.statement .discuss_right_block {
	margin-left: 190px;
}

.new_statement_button_illustration {
  width: 50px;
}

.statement_form_illustration {
  float: right;
  margin: 0 35px 0 30px;
  border: none;
}

form.question .header li,
form.follow_up_question .header li {
  background:transparent url(../images/page/discuss/question_16.png) no-repeat scroll 0 2px;
}
form.proposal .header li {
  background: transparent url(../images/page/discuss/proposal_16.png) no-repeat scroll 0 2px;
}
form.improvement .header li {
  background: transparent url(../images/page/discuss/improvement_16.png) no-repeat scroll 0 2px;
}
form.pro_argument .header li {
  background: transparent url(../images/page/discuss/pro_argument_16.png) no-repeat scroll 0 2px;
}
form.contra_argument .header li {
  background: transparent url(../images/page/discuss/contra_argument_16.png) no-repeat scroll 0 2px;
}

form.statement .header_link fieldset ol li {
  padding-left: 20px;
}

form.translation fieldset ol li {
	padding-left: 0;
}

form.statement fieldset ol span.defaultText {
	position: absolute;
	left: 4px;
	top: 31px;
}

#statements .statement {
  display: inline-block;
	position:relative;
}

#statements form .content {
  margin-top: 0;
}

#statements form.translation .content {
  margin-top: 10px;
}

#statements form.formtastic fieldset.statement_title,
  #statements form.formtastic fieldset.statement_title li,
#statements form.formtastic fieldset.statement_title input {
  margin-bottom: 0;
  width: 545px;
}

#statements form.formtastic fieldset.statement_language li,
#statements form.formtastic fieldset.statement_language select {
  margin: 0;
  width: 200px;
  vertical-align: top;
}

#statements form.formtastic fieldset.statement_language li {
  margin-right: 24px;
}

#statements form.formtastic fieldset.statement_language .language_combo {
  margin-bottom: 20px;
}

#statements form.formtastic fieldset.statement_language li.hint {
	background: url("../images/page/icons/pin.png") no-repeat scroll 142px 2px #FBF3BB;
	border: 1px solid #7bb031;
	width: 300px;
	padding: 33px 10px 5px;
  margin-bottom: 20px;
  color: #21587f;
}

form .hint p {
  margin: 10px 0;
}

form.formtastic fieldset.statement_text {
  position: relative;
}

#statements form fieldset.statement_text .action_bar {
  position: absolute;
  left: -198px;
  top: -39px;
}

form.formtastic fieldset.statement_tags .tags_container {
  margin-bottom: 10px;
}


form.formtastic fieldset.statement_tags .tag_container {
  width: 365px;
}

form.formtastic fieldset.publish_radios .label,
form.formtastic fieldset.publish_radios li {
  width: 700px;
}

/*********/
/* lwRTE */
/*********/

form.formtastic fieldset .rte-zone {
  color: #21587f;
  width: 763px !important;
}

form.formtastic fieldset.right_panel .rte-zone {
  width: 358px !important;
}

form.formtastic fieldset .rte-zone li {
  float: left;
  width: 25px;
  margin: 5px 2px;
	padding-left: 0;
}

form.formtastic fieldset .rte-zone li.separator {
  border-right: 0;
  width: 1px;

}

form.formtastic fieldset ol li.text .rte-zone textarea {
  border: 0;
  padding: 0;
}

.rte-resizer {
  display: none;
}

.document_frame {
  color: #21587F;
}


/**********/
/* Search */
/**********/

#discuss_search_container.search_container {
  margin:   35px auto 25px;
}

.questions_container .header {
	background: url("../images/page/discuss/stack_separator.png") no-repeat scroll 7px 0 transparent;
  clear: both;
  display: inline-block;
  min-height: 34px;
  width: 785px;
	margin-bottom: 10px;
}

.questions_container .header .label {
	 color: #21587F;
   cursor: default;
   font-size: 16px;
   font-weight: bold;
	 position: relative;
	 left: 30px;
	 top: 3px;
}

.questions_container .header .icon {
	display: inline-block;
  background: url(../images/page/box/box_icon_discuss.png) repeat-x left top;
	height: 36px;
	width: 36px;
	position: relative;
	top: 15px;
  left: 22px;
}

.questions_container ul {
	height: 900px;
}

.questions_container li.question {
	display: inline-block;
	height: 160px;
	position: relative;
}

.questions_container li.question img{
  border: 2px solid #7BB031;
}

.questions_container li.question .top_area {
	float: left;
  height: 20px;
  position: relative;
  top: 0px;
  width: 590px;
	margin-bottom: 9px;
}
.questions_container li.question .top_area .statement_link {
	background: none;
}

.questions_container li.question .bottom {
  float: left;
  height: 100px;
  position: relative;
	bottom: 0px;
}

.questions_container li.question .bottom .description {
	padding-left: 21px;
	width: 365px;
	height: 90px;
}

.questions_container li.question .buttons {
  position: absolute;
	right: 64px;
	top: 74px;
}

.questions_container li.question a.publish_button {
	left: 55px;
}

.questions_container li.question .avatar_holder {
	float: left;
}
.questions_container li.question .avatar_holder img {
  height: 130px;
	width: 175px;
}
/********************** TODO: OLD; MAYBE TO DELETE *******************************************/

#function_container .simple_header_block h2 {
  color: #21587f !important;
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 6px;
  margin-bottom: 15px;
}

#function_container .search_category {
  position: absolute;
  left: 66px;
  top: 6px;
  width: 195px;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

#discuss_results .box_header_icon {
  background: url(../images/page/box/box_icon_discuss.png) repeat-x left top;
}

#discuss_results .ttLink img {
  color: #7BB031;
}

#discuss_results .ttLink img {
	color: #7BB031;
}

.questions_container .results_container .no_results {
  top: 85px;
}

.questions_container .results_container .create_first_question_button {
  background: transparent url(../images/page/discuss/add_first_question_button.png) no-repeat scroll 0 0;
	width: 400px;
	height: 50px;
	text-align: center;
  position: relative;
  top: 80px;
  color: #21587f;
}

.questions_container .results_container .create_first_question_button:hover {
  background-position: 0 -50px;
}

.questions_container .results_container .create_first_question_button span {
  font-weight: bold;
  position: relative;
  left: 23px;
  top: 18px;
}

.questions_container .results_container .add_teaser {
	left: 260px;
  position: absolute;
  top: 147px;
	cursor: pointer;
}

/***************/
/* Breadcrumbs */
/***************/

.breadcrumbs {
  overflow: auto;
  height: 62px;
  margin: 0 0 8px;
  width: 970px;
}

.breadcrumbs .jspContainer {
  height: 62px !important;
}

.breadcrumbs .jspVerticalBar {
  display: none;
}

.breadcrumbs .jspHorizontalBar {
  bottom: 0;
}

.breadcrumbs .jspHorizontalBar .jspDrag {
 height: 8px !important;
 top: -1px;
}

.breadcrumbs .elements {
  display: inline-block;
  text-align: left;
}

.breadcrumb {
  color: #21587f;
  height: 49px;
	float: left;
	width: 280px;
	overflow: hidden;
  position: relative;
  cursor: default;
}

.breadcrumb:hover {
  cursor: pointer;
}

.breadcrumb .big_delimiter {
  background: transparent url(../images/page/discuss/breadcrumb_delimiter_big.png) no-repeat scroll 0 0;
  width: 11px;
  height: 23px;
  font-weight: bold;
  position: absolute;
  left: 11px;
  top: 16px;
}

.breadcrumb .label,
.breadcrumb .over {
	display: inline-block;
  position: absolute;
  font-size: 12px;
  left: 61px;
  top: 0;
  width: 215px;
}

.breadcrumb .over,
.breadcrumb:hover .label {
  display: none;
}

.breadcrumb:hover .over {
  display: block;
}

.breadcrumb .statement_link {
  padding-top: 1px;
  position: absolute;
  top: 19px;
  left: 40px;
  font-size: 12px;
  font-weight: bold;
  width: 215px;
  height: 32px;
	padding-left: 21px;
}

.breadcrumb:hover .statement_link {
  color: #7bb031;
}


/***************/
/* echo button */
/***************/

.action_bar .echo_button {
  width:    160px;
  height:   120px;
  display:  block;
  background-image: url(../images/page/discuss/echo_button.png);
  cursor: pointer;
  position: relative;
}

.echo_button:hover { background-position: 0 -120px; }

.echo_button.clicked, .echo_button.pending {
  cursor: default !important;
}

.echo_button_icon {
  height:   85px;
  width:    85px;
  display:  inline-block;
  background-image: url(../images/page/discuss/echo_button_icon.png);
  margin: 3px 0 0 4px;
}

.echo_button:hover.not_supported .echo_button_icon { background-position: 0 -85px; }
.echo_button:hover.not_supported.pending .echo_button_icon,
.echo_button:hover.not_supported.clicked .echo_button_icon
{ background-position: 0 0; }
.echo_button.supported .echo_button_icon { background-position: 0 -170px; }
.echo_button:hover.supported .echo_button_icon { background-position: 0 -255px; }
.echo_button:hover.supported.pending .echo_button_icon,
.echo_button:hover.supported.clicked .echo_button_icon
{ background-position: 0 -170px; }

.echo_button .error_lamp {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 120px;
  background: #F00;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: none;
}


/***********************************/
/* Social echo container and panel */
/***********************************/

.social_echo_container {
	display: inline-block;
}

.social_echo_container .social_echo_button {
	background-image: url(../images/page/discuss/social_echo.png);
	width: 150px;
	height: 50px;
	display: inline-block;
	cursor: pointer;
}
.social_echo_container .social_echo_button:hover {
	background-position: 0 50px;
}

.social_echo_panel {
	width: 640px;
  border: 3px solid #BBB;
  background: #FEFEFE;
  position: absolute;
  top: -32px;
  left: 165px;
}

.social_echo_panel .panel_header {
	background: none;
  width: 400px;
  margin: 16px 0 0 30px;
  font-size: 20px;
  font-weight: bold;
}

.social_echo_panel .social_account_list {
	padding-top: 10px;
	height: 100px;
}

.social_echo_panel .social_account {
	display: inline-block;
	width: 130px;
  height: 80px;
  margin: 10px;
  padding: 0;
	text-align: center;
  border: 1px solid #AAA;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: 0 2px 10px #CCC;
  -moz-box-shadow: 0 2px 10px #CCC;
  -webkit-box-shadow: 0 2px 10px #CCC;
  overflow: hidden;
}

/* Social Network labels */
.social_echo_panel .social_label {
  background: transparent url(../images/page/social_echo_icons_big.png) no-repeat scroll 0 0;
  width: 110px;
  height: 35px;
  display: inline-block;
  margin-top: 5px;
}

.social_echo_panel .social_label.facebook { background-position: 0 0; }
.social_echo_panel .social_label.twitter { background-position: -110px 0; }
.social_echo_panel .social_label.yahoo { background-position: -220px 0; }
.social_echo_panel .social_label.linkedin { background-position: -330px 0; }
.social_echo_panel .social_label.google { background-position: -440px 0; }
.social_echo_panel .social_label.facebook.connected { background-position: 0 -35px; }
.social_echo_panel .social_label.twitter.connected { background-position: -110px -35px; }
.social_echo_panel .social_label.yahoo.connected { background-position: -220px -35px; }
.social_echo_panel .social_label.linkedin.connected { background-position: -330px -35px; }
.social_echo_panel .social_label.google.connected { background-position: -440px -35px; }

.social_echo_panel .button {
	display: inline-block;
  width: 100%;
	height: 40px;
  line-height: 40px;
	margin: 0;
	text-decoration: underline;
	cursor: pointer;
  border-radius: 0 0 11px 11px;
  -moz-border-radius: 0 0 11px 11px;
  -webkit-border-radius: 0 0 11px 11px;
}

.social_echo_panel .button.disabled,
.social_echo_panel .button.connect {
  color: #FFF;
  background-color: #AAA;
}

.social_echo_panel .button.connect:hover {
  background-color: #BBB;
}

.social_echo_panel .button.enabled { color: #FFF; }
.social_echo_panel .social_account.facebook .button.enabled { background-color: #526ea5; }
.social_echo_panel .social_account.twitter .button.enabled { background-color: #5dd5fd; }
.social_echo_panel .social_account.yahoo .button.enabled { background-color: #7d287d; }
.social_echo_panel .social_account.linkedin .button.enabled { background-color: #287097; }

.social_echo_panel .button.enabled,
.social_echo_panel .button.disabled {
  padding-left: 10px;
  background-image: url(../images/page/discuss/send_social_echo.png);
  background-repeat: no-repeat;
  width: 120px;
}

.social_echo_panel .button.enabled { background-position: 13px -40px; }
.social_echo_panel .button.enabled:hover { background-position: 13px 0 !important; }
.social_echo_panel .button.disabled { background-position: 13px 0 !important; }
.social_echo_panel .button.disabled:hover { background-position: 13px -40px !important; }

/* Texts */

.social_echo_panel .share_form .block {
	margin: 15px 0;
  position: relative;
}

.social_echo_panel .share_form .block.center {
	text-align: center;
}

.social_echo_panel .share_form .block.left {
  margin: 15px 0 15px 28px;
  width: 575px;
  display: inline-block;
}

.social_echo_panel .share_form label {
	width: 110px;
	display: inline-block;
  color: #7bb031;
  font-weight: bold;
}

.social_echo_panel .share_form .hint {
	position: relative;
  left: 40px;
}

.social_echo_panel .share_form .text {
  width: 442px;
  border: 1px solid #777;
  padding: 3px 4px;
  color: #21587f;
  display: inline-block;
}

.social_echo_panel .share_form .counter {
  display: inline-block;
  position: absolute;
  right: 10px;
  margin-top: 3px;
}

.social_echo_panel .share_form .preview {
	height: 60px;
	vertical-align: top;
  cursor: text;
}

.social_echo_panel .share_form .submit_block .disabled {
	color: #999;
}

.social_echo_panel .share_form .submit_block .disabled:hover {
  background-position: 0 0;
  cursor: default;
}

/****************************/
/* Add New statement button */
/****************************/

#statements .action_bar .add_new_container {
  position: relative;
	margin-top: 20px;
}

.action_bar .add_new_button {
  height:   80px;
  width:    160px;
  display:  block;
  background-image: url(../images/page/discuss/add_new_button.png);
  cursor: pointer;
}

#my_questions .add_new_button:hover,
#statements .action_bar .add_new_button:hover {
  background-position: 0 80px;
}

.add_new_button_icon {
	height:   42px;
  width:    42px;
  display:  inline-block;
  background-image: url(../images/page/discuss/add_new_button_icon.png);
  cursor: pointer;
	margin-top: 9px;
}

.add_new_button:hover .add_new_button_icon {
  background-position: 0 42px;
}

/****************/
/* Popup panels */
/****************/

.statement .popup_panel {
  border: 3px solid #BBB;
	background: #FEFEFE;
  position: absolute;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 0 5px 25px #999;
  -webkit-box-shadow: 0 5px 25px #999;
  box-shadow: 0 5px 25px #999;
  text-align: left;
  z-index: 5;
  cursor: default;
}

/***************************/
/* Add new statement panel */
/***************************/

.add_new_panel {
  width: 575px;
	border: 3px solid #BBB;
	background: #FEFEFE;
  position: absolute;
	bottom: -69px;
	left: 136px;
}

.add_new_panel .panel_header {
	background: none;
  width: 400px;
  margin: 16px 0 16px 59px;
  font-size: 16px;
  font-weight: bold;
}

.add_new_panel .block_separator {
	height: 1px;
	width: 100%;
	background: #DDD;
  margin: 0;
  border: none;
}

.add_new_panel .container {
  margin: 18px 0 7px;
}

.add_new_panel .resource_link {
	color: #21587F;
  text-decoration: underline;
	margin: 0 15px 0 20px;
	padding: 7px 0 0 40px;
  display: inline-block;
  height: 38px;
}

/******************/
/* SIBLINGS PANEL */
/******************/

.statement .siblings_panel {
  left: 120px;
  top: -39px;
  width: 819px;
  max-height: 360px;
  padding: 10px 0;
}

.statement .siblings_panel .label {
  color: #21587F;
  display: block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 32px;
  top: 2px;
}

.statement .siblings_panel .children_list {
	margin: 0;
	padding: 0;
  list-style: none;
}

.statement .siblings_panel .children_container {
	margin: 15px 0 0 12px;
}

.siblings_panel a.statement_link {
  width: 550px;
}

.siblings_panel .doubles_list a.statement_link {
  width: 245px;
}

.siblings_panel .doubles_list .children_pagination {
  width: 395px !important;
}

.siblings_panel .children_pagination,
.siblings_panel .children_pagination .jspPane,
.siblings_panel .doubles_list,
.siblings_panel .doubles_list .jspPane {
  width: 800px !important;
}

.siblings_panel .children_pagination .jspVerticalBar,
.siblings_panel .doubles_list .jspVerticalBar {
  right: 2px;
}

/*********************/
/* Statement header  */
/*********************/

#statements .header {
  background:  url(../images/page/discuss/stack_separator.png) no-repeat scroll 7px 0;
  clear: both;
  min-height: 34px;
  display: inline-block;
  width: 990px;
}

#statements .header.active {
  background:  url(../images/page/discuss/stack_separator_active.png) no-repeat scroll 7px 0;
  min-height: 41px;
}

#statements .header_buttons {
  width: 160px;
  margin-right: 23px;
  min-height: 1px;
  display: inline-block;
  float: left;
  position: relative;
  top: 3px;
  left: 49px;
  height: 30px;
  overflow: visible;
}

#statements .header_link,
#statements .add_header_link {
  display: inline-block;
  min-height: 20px;
  width: 800px;
  float: left;
  position: relative;
  top: 12px;
  left: 1px;
  margin-bottom: 4px;
}

#statements .header_link .statement_link {
  background-position: 0 2px;
}

#statements .header .header_link a {
  display: inline-block;
  color: #21587F;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
	/*padding-right: 21px !important;*/
	max-width: 550px;
}

#statements .header .header_link a:hover {
  color: #7bb031;
}

#statements .header.active .header_link a {
  color: #7bb031;
}

/*******************************/
/* Prev/Next Statement buttons */
/*******************************/

.header_buttons .prev_stmt, .header_buttons .next_stmt, .header_buttons .show_siblings_label {
  display: inline-block;
  width: 37px;
  height: 39px;
  padding: 0;
  cursor: pointer;
}

.header_buttons .prev_stmt {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll 0 -117px;
}

.header_buttons .next_stmt {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll -37px -117px;
}

.header_buttons .show_siblings_label {
  background:  url(../images/page/prev_next_buttons.png) no-repeat scroll -74px -117px;
  position: relative;
  left: -5px;
}

.header:hover .prev_stmt, .header.active .prev_stmt {
  background-position: 0 0;
  cursor: pointer;
}

.header:hover .next_stmt, .header.active .next_stmt {
  background-position: -37px 0;
  cursor: pointer;
}

.header:hover .show_siblings_label, .header.active .show_siblings_label {
	background-position: -74px 0;
  cursor: pointer;
}

.header:hover .prev_stmt:hover {
  background-position: 0 -39px;
}

.header:hover .next_stmt:hover {
  background-position: -37px -39px;
}

.header:hover .show_siblings_label:hover {
  background-position: -74px -39px;
}

.header:hover .prev_stmt.disabled, .header.active .prev_stmt.disabled {
  background-position: 0 -78px;
  cursor: default;
}

.header:hover .next_stmt.disabled, .header.active .next_stmt.disabled {
  background-position: -37px -78px;
  cursor: default;
}

.header:hover .show_siblings_button.disabled, .header.active .show_siblings_button.disabled {
	background-position: -74px -78px;
  cursor: default;
}

.supporters_label {
  float: right;
  font-size: 12px;
  position: absolute;
  right: 27px;
  top: 21px;
  cursor: default;
}

/*********************/
/* Statement content */
/*********************/

#statements .content {
  margin-top: 10px;
}

.discuss_right_block {
  margin-left: 190px;
  width: 785px;
  padding-left: 15px;
  clear: right;
}

.summary.discuss_right_block {
  width: 767px;
}

.summary .action_buttons {
  display: block;
  position: relative;
  right: 15px;
}

.statement_content {
	clear: right;
  margin: 12px 0 25px;
  line-height:1.25em;
	width: 767px;
}

.statement_content .image_container {
	float: right;
	margin: 4px 0 20px 20px;
  position: relative;
  text-align: right;
  width: 200px;
}

.statement_content .image {
  border: 1px solid #a8a8a8;
  max-height: 133px;
  max-width: 200px;
}

.statement_content .upload_link {
  background: url(../images/page/discuss/statement_image_button.png) no-repeat scroll left top transparent;
	position: absolute;
  top: 38px;
	left: 32px;
	text-decoration: none;
}

.statement_content a {
  color: #21587f;
  text-decoration: underline;
}

.statement_content strong {
  font-size: 1em;
  font-weight: normal; /* Just to fix some old texts generated with strong. WYSIWYG uses <b> tag - unfortunately. */
}

/***********************/
/* Children statements */
/***********************/

.statement .children {
	display: block;
	position: relative;
}

.statement .children .headline .count {
  font-weight: normal;
}

.children_pagination, .children_pagination .jspPane, .doubles_list, .doubles_list .jspPane {
  width: 785px !important;
}

.doubles_list .children_pagination {
	float: left;
	width: 386px !important;
  display: block;
}

.children_pagination ul {
  min-height: 145px;
}

.children_pagination li {
  margin: 4px 0 0;
}

.children_list .text_button {
  margin-left: 0;
}

.children a.statement_link {
	width: 530px;
}

.children .doubles_list a.statement_link {
  width: 240px;
}

.children_pagination, .doubles_list {
  margin-bottom: 3px !important;
  overflow: hidden;
}

.children_pagination .jspVerticalBar, .doubles_list .jspVerticalBar {
  right: 7px;
}

#statements .jspHorizontalBar {
  display: none;
}

/*******************/
/* echo indicators */
/*******************/

.echo_indicator, .no_echo_indicator {
  height: 12px !important;
  width: 170px;
  display: inline-block;
  margin: 3px 30px 0 0;
  float: right;
}

.header .echo_indicator, .header .no_echo_indicator {
  margin-right: 25px;
  background-color: #FFF;
}

.no_echo_indicator {
  border: 1px solid #A9B6BD;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.no_echo_indicator:hover  {
  border: 1px solid #A9B6BD !important;
}

.doubles_list .echo_indicator, .doubles_list .no_echo_indicator {
	margin: 3px 17px 0;
  width: 85px;
  height: 11px !important;
}

/******************/
/* Add new teaser */
/******************/

.statement.add_teaser {
  min-height: 350px;
}

/*****************************/
/* Statement links & buttons */
/*****************************/

.add_new_button {
  vertical-align: top;
}

.add_header_link .add_new_button {
  font-size: 18px;
  margin-left: 0;
  padding-left: 22px;
  background-position: 0 3px;
  position: relative;
  top: -2px;
}

a.statement_link {
  color: #21587f;
  font-size: 14px;
  font-weight: bold;
  display:inline-block;
  min-height: 20px;
  padding-left: 21px !important;
  vertical-align: top;
  margin-bottom: 5px;
}
a.statement_link.active {
	color: #7bb031;
}

.header_buttons a.statement_link.prev, .header_buttons a.statement_link.next {
	padding-left: 0 !important;
}

a.statement_link:hover {
  color: #7bb031;
}

.question_links {
  list-style:none;
}

.search_link {background:transparent url(../images/page/discuss/search_icon_16.png) no-repeat scroll 0 0;}
.my_discussions_link {background:transparent url(../images/page/discuss/my_discussions_16.png) no-repeat scroll 0 -1px;}

.question_link {background:transparent url(../images/page/discuss/question_16.png) no-repeat scroll 0 0;}
.proposal_link {background:transparent url(../images/page/discuss/proposal_16.png) no-repeat scroll 0 0;}
.improvement_link {background:transparent url(../images/page/discuss/improvement_16.png) no-repeat scroll 0 0;}
.pro_argument_link {background:transparent url(../images/page/discuss/pro_argument_16.png) no-repeat scroll 0 0;}
.contra_argument_link {background:transparent url(../images/page/discuss/contra_argument_16.png) no-repeat scroll 0 2px;}
.follow_up_question_link {background:transparent url(../images/page/discuss/follow_up_question_16.png) no-repeat scroll 0 0;}

.create_question_button {background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;}
.create_proposal_button {background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;}
.create_improvement_button {background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;}
.create_pro_argument_button {background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;}
.create_contra_argument_button {background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;}
.create_follow_up_question_button {background:transparent url(../images/page/discuss/add_statement_small.png) no-repeat scroll 0 0;}

.create_question_button_32 {background: transparent url(../images/page/discuss/question_32.png) no-repeat scroll 0 0;}
.create_proposal_button_32 {background: transparent url(../images/page/discuss/proposal_32.png) no-repeat scroll 0 0;}
.create_improvement_button_32 {background: transparent url(../images/page/discuss/improvement_32.png) no-repeat scroll 0 0;}
.create_pro_argument_button_32 {background: transparent url(../images/page/discuss/pro_argument_32.png) no-repeat scroll 0 0;}
.create_contra_argument_button_32 {background: transparent url(../images/page/discuss/contra_argument_32.png) no-repeat scroll 0 4px;}
.create_follow_up_question_button_32 {background: transparent url(../images/page/discuss/question_32.png) no-repeat scroll 0 0;}


/*****************/
/* Incorporation */
/*****************/

#approved_ip {
  border-top: 1px dashed #CCC;
  margin-top: 15px;
  padding: 5px 0 0;
  width: 750px;
}

#approved_ip.only_text {
  border: 1px dashed #CCC;
  margin: 0 10px 20px 0;
  padding: 0 7px 10px;
}

.incorporate_statement_button_mid {
  background: transparent url(../images/page/discuss/inc_improvement_mid.png) no-repeat scroll 0 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
  position: relative;
  left: 390px;
  top: 0;
  display: block;
}

.incorporate_statement_button_mid:hover {
 background-position: 0 -55px;
}

#ip_text {
  margin-top: 10px;
}

/***************/
/* Translation */
/***************/

.translation_box_class {
  height: 55px;
	margin: 15px -10px;
	text-align: center;
}

.translation_box_class .fish_left {
  position: absolute;
  left: 12px;
  top: 2px;
}

.translation_box_class .fish_right {
  position: absolute;
  right: 12px;
  top: 2px;
}

.translation_box_class .language_label {
  position: absolute;
  top: 20px;
  font-weight: bold;
  cursor: default;
}

.translation_box_class .from_language {
  left: 83px;
}

.translation_box_class .to_language {
  right: 83px;
  text-align: right;
}

.translation_box_class .translation_link {
  position: relative;
  top: 19px;
  font: 14px;
  color: #21587f;
  text-decoration: underline;
}

.translation_box_class .translation_link strong {
  font-size: 1em;
}

.translation_box_class .translation_link:hover {
  cursor: pointer;
}

.translation_box_class .arrow {
  position: relative;
  top: 4px;
}

.translation_box_class .profile_link {
  top: 11px;
}

form.translation .rte-panel {
  left: -30px !important;
  top: -218px !important;
}

/********************/
/* Translation form */
/********************/

.translation form {
  margin-top: 15px;
}

.translation .left_panel {
  float: left;
  width: 365px;
}

.translation .right_panel {
  float: right;
  width: 365px;
}

.translation fieldset.buttons {
  clear: both;
}

.translation .static_text {
	height: 225px;
	width: 354px;
	border: 1px solid #999999;
	overflow: auto;
  padding: 2px;

}

form.statement fieldset ol li.tags_container {
	width: 800px;
}

.tags_container .form_container {
	display: inline-block;
	margin: 7px 12px 25px 0;
	vertical-align: top;
	width: 385px;
}

.tags_container .label {
  color: #7bb031;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  cursor: default;
}

.tags_container #tag_topic_id {
  width: 250px !important;
  padding: 2px 0;
  color: #21587F;
  border: 1px solid #999;
}

.tags_container .add_text_button {
	display: inline-block;
  position: relative;
  top: -2px;
}

/*************/
/*  Authors  */
/*************/

.statement .authors .jcarousel-container {
  width: 685px;
  left: -5px;
  background: #F8F8F8;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 0 0 33px #F0F0F0;
  -webkit-box-shadow: 0 0 33px #F0F0F0;
  box-shadow: 0 0 33px #F0F0F0;
}
.statement .authors .jcarousel-clip-horizontal {
	width: 685px;
}

.statement .authors .jcarousel-item {
	display: none;
}

.statement .authors li.author {
  width: 229px;
	height: 55px;
  margin: 4px 15px 0 0;
	display: inline-block;
  position: relative;
  cursor: default;
}

.statement .authors .author img {
  float: left;
	border: 2px solid #7BB031;
	max-height: 45px;
	max-width: 45px;
}

.statement .authors .author .name {
	position: absolute;
	top: -2px;
  left: 60px;
	font-size: 14px;
  font-weight: bold;
	overflow: hidden;
}

.statement .authors .author .location_orga {
  position: absolute;
	top: 16px;
  left: 60px;
	font-size: 14px;
	overflow: hidden;
}

.statement .authors .author.teaser {
	width: 290px;
}

.statement .authors .author.teaser .add_new_button {
	position: absolute;
  top: 30px;
  left: 39px;
  overflow: hidden;
}

.statement .authors .separator_image {
  width: 810px;
  margin: 15px 0 0 -20px;
}

/**************/
/* Expandable */
/**************/

.statement .loading {
	background: url('../images/indicator.gif') left center no-repeat;
  width: 20px;
  height: 20px;
	position: absolute;
  opacity: 0.4;
}

.statement .social_echo_container .loading {
	left: 156px;
  top: 130px;
}

.statement .header .loading {
  left: -33px;
  top: 10px;
}

.statement .action_buttons .loading {
  right: -30px;
	top: 17px;
}

.statement .children .loading {
  right: 33px;
	top: 5px;
}

.expandable {
  cursor: pointer;
}

.expandable .headline {
	position: relative;
}

.expandable .expand_icon {
  background: transparent url(../images/page/discuss/expandable_icons.png) no-repeat scroll 0 0;
  width: 13px;
  height: 7px;
  position: absolute;
  right: 13px;
  top: 18px;
}

.expandable .headline .expand_icon {
  right: 15px;
  top: 12px;
}

.expandable:hover .expand_icon {
  background-position: 0 -14px;
}

.expandable.active .expand_icon {
  background-position: 0 -21px;
}

.expandable.active:hover .expand_icon {
  background-position: 0 -35px;
}