#echosocial_logo {
  margin-bottom: -35px;
}

#echosocial_teasers {
  float: right;
  margin: 10px 5px 0 0;
  padding: 0;
  width: 260px;
}

#echosocial_teasers ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#echosocial_teasers li {
  margin: 0;
  padding: 0;
}

#echosocial_teasers .box_header_icon {
	background:url("../images/page/box/box_icon_people.png") repeat-x scroll left top transparent;
}

#echosocial_teasers .box_content {
  text-align: center;
  font-weight: bold;
  padding: 7px;
}

#echosocial_teasers img {
  border: none;
  margin-bottom: 5px;
}

#echosocial_teasers a span {
  display: block;
  color: #21587F;
}

#echosocial_teasers a:hover span {
  color: #7bb031;
}
