@import "general.css";
@import "forms.css";
@import "tabs.css";
@import "box.css";
@import "tooltips.css";
@import "static_menu.css";
@import "static_content.css";
@import "outer_menus.css";
@import "jquery-ui-1.7.2.custom.css";

#header {
  width: 945px;
  margin: 0 auto;
  padding: 0 23px;
}

.main_logo {
  float: left;
  margin: 23px 0 -27px 0;
  position: relative;
}

.main_logo a img {
  border: none;
  margin: -2px 0 2px;
}

.main_logo .stamp {
  position: absolute;
  left: 20px;
  top: 13px;
  cursor: pointer !important;
}

.main_logo .label {
  left: 177px;
  top: 5px;
  position: absolute;
}

#invite_bubble {
  position: relative;
  float: left;
  background:  url(../images/page/invitebubble_left.png) no-repeat;
  left: -5px;
  top: 15px;
}

#invite_bubble a {
  background:  transparent url(../images/page/invitebubble_right.png) no-repeat scroll right top;
  color:       #fff;
  display:     block;
  font-family: Arial,Helvetica,sans-serif;
  font-size:   17px;
  font-weight: bolder;
  text-align:  center;
  height:      65px;
  left:        29px;
  padding:     15px 25px 0 10px;
  position:    relative;
}

#invite_bubble a:hover {
  text-decoration: underline;
  cursor:      pointer;
}

/* --------------- */
/* Login Container */
/* --------------- */

#login_container {
  clear: right;
  float: right;
  padding-bottom: 8px;
  height: 46px;

}

#login_container .signup {
  color: #21587f;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  top: 4px;
}

#login_container .or_label {
  margin: 0 10px;
  position: relative;
  top: 4px;
  cursor: default;
}

#login_container .signin {
  font-size: 16px;
  position: relative;
  top: 4px;
}

/* ------------------- */
/* echologic Container */
/* ------------------- */

#echologicContainer {
  width:       945px;
  height:      165px;
  margin:      0 auto;
  padding:     45px 23px 23px;
  z-index:     5;
  position:    relative;
  clear:       both;
}

#mission_statement_container {
  width:       620px;
  height:      140px;
  clear:       both;
  float:       left;
  margin-left: -5px;
  background:  #fff;
}

#mission_statement_container img {
  position:    absolute;
  left:        -6px;
  top:         -6px;
  z-index:     5;
}

#mission_statement_container #yuccaHotspot {
  background:  url(../images/page/yucca.jpg) no-repeat scroll;
  position:    absolute;
  left:        533px;
  top:         3px;
  width:       81px;
  height:      142px;
  cursor:      help;
  border:      none;
  z-index:     6;
}

#missionStatementHolder {
  position:    absolute;
  top:		     0px;
  left:        -15px;
  width: 	     580px;
  text-align:  center;
  color:       #FFF;
  cursor:      default;
  z-index:     6;
}

#missionStatementHolder .ms_echologic {
  font-size:   20px;
  line-height: 44px;
  margin:      0 4px 10px 0;
}

#missionStatementHolder .ms_echo {
  font-size:   38px;
  color:       #7BB031;
  line-height: 55px;
}

#missionStatementHolder .ms_echo .ttLink {
  color:       #7BB031;
}

#news_container {
  background:  #fff;
  width:       290px;
  height:      140px;
  float:       right;
  margin-right: -5px;
}

#news_container img {
  border: none;
  margin-top: 3px;
}

#news_container p {
  margin: 0;
}

/* Social media panel */

#social_media_panel {
  width: 290px;
}

#twitter_link {
  color: #21587f;
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  border: none;
  z-index: 15;
}

#twitter_link:hover #twitter_title {
  color: #7bb031;
}

#twitter_bird, #facebook_icon {
  border: none;
  cursor: pointer;
}

#twitter_bird a {
  background: url(../images/page/echo_twitter.png) no-repeat scroll;
  width: 75px;
  height: 54px;
  position: absolute;
  right: 0;
  top: -14px;
  z-index: 10;
}

#facebook_icon a {
  background: url(../images/page/echo_facebook.png) no-repeat scroll;
  width: 34px;
  height: 38px;
  position: absolute;
  right: 18px;
  top: 40px;
  z-index: 10;
}

#twitter_title {
  font-size: 20px;
  font-weight: bold;
  margin: 3px 0 15px;
  cursor: default;
}

#twitter_date {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 12px;
  cursor: default;
}

#twitter_text {
  display: block;
  font-size: 14px;
  height: 67px;
  line-height: 16px;
  overflow: hidden;
  position: relative;
  top: 22px;
  width: 290px;
}

/* Featured topic teaser */

#featured_topic_teaser {
  color: #21587f;
}

#featured_topic_teaser:hover #featured_topic_name, #featured_topic_teaser:hover #featured_topic_on_echo {
  color: #7bb031;
}

#featured_topic_image {
  position: absolute;
  right: -9px;
  top: -30px;
  cursor: pointer;
  z-index: 10;
}

#featured_topic_name {
  display: block;
  font-size: 23px;
  font-weight: bold;
  padding-top: 2px;
  text-decoration: underline;
}

#featured_topic_on_echo {
  display: block;
  padding-bottom: 25px;
}

#featured_topic_description {
  font-size: 14px;
  height: 75px;
  line-height: 18px;
  overflow: hidden;
}

#featured_topic_description a.external_link {
  color: #21587f;
  text-decoration: underline;
}

/* Main box */

#mainBoxContent {
  overflow-y:    auto;
  overflow-x:    hidden;
}

#staticContent {
  width:       620px;
  min-height:  490px;
  padding:     2px 5px;
}

/* Sponsors */
.sponsors_container {
  width: 730px;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

#staticContent .sponsors_container {
  padding-left: 105px;
  clear: both;
}

.sponsors_container ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sponsors_container li {
  display: inline-block;
}

.sponsor_text {
  color: #7691A2;
  font-size: 11px;
  margin: 10px 0;
  display: inline-block;
}

.sponsor_logo img {
  float: left;
  display: inline-block;
  height: 30px;
  vertical-align: top;
  margin: 0 15px;
  border: none;
}

/* Boxes */

.mainBox {
  width:       945px;
  margin:      0 auto 14px auto;
  z-index:     5;
  clear:       both;
  text-align:  left;
  padding:     0 5px;
  background:  #fff;
}

.boxContent {
  background:   #fff;
  margin:       0 23px 0 0;
  padding:      0;
}


/* echologic */

#echoTeaser * {
  font-size:  120%;
}

#echoHeader {
  background:  url(../images/page/echo_gradient.png) no-repeat scroll;
  position:    relative;
  top:         0px;
  margin:      20px 0 0;
}

#echoLogo {
  float:       left;
  position:    relative;
  left:        7px;
  top:         10px;
}

#headerGlue {
  font-size:   17px;
  color:       #21587f;
  position:    relative;
  left:        17px;
  top:         36px;
  cursor:      default;
}

#headerMessage {
  font-size:   23px;
  font-weight: bold;
  color:       #7bb031;
  position:    relative;
  bottom:      17px;
  line-height: 45px;
  cursor:      default;
  left: 	   15px;
}

/* Important actions */

.jump_in_button {
  height:      128px;
  margin:      0;
  padding:     0px;
}

#mission_statement_container .jump_in_button {
  margin: -7px 0 0 7px;
}

.echoButtonBig {
  float:       left;
  margin:      0px;
  padding:     0px;
  width:       100%;
  height:      128px;
  background:  url(../images/page/echo_o_on_off.png) no-repeat scroll 0 0px;
  position:    relative;
  z-index:     10;
  border:      none;
}

.echoButtonBig:hover {
  background-position: 0 -128px;
  cursor:      pointer;
}

.echoActionBig {
  font-size:   25px;
  font-weight: bold;
  color:       #21587f;
  text-decoration: underline;
  line-height: 38px;
  position:    relative;
  top:         -110px;
  left:        142px;
  z-index:     5;
  cursor:      pointer;
}

.jump_in_button:hover .echoActionBig {
  color: #7bb031;
}

/* Navigation */

.backNextHolder {
  margin:       30px auto 12px;
  text-align:   center;
  height:       43px;
  overflow:     hidden;
}

.separator {
  border-right: 1px solid #bac8d0;
  display:      inline-block;
  height:       31px;
  margin:       2px 0 5px 0;
  vertical-align: middle;
}

#nextPageButton {
  background:   #FFF url(../images/page/next_button.png) no-repeat scroll right top;
  text-align:   left;
  padding:      0 0 0 13px;
}

#previousPageButton {
  background:   #FFF url(../images/page/back_button.png) no-repeat scroll left top;
  text-align:   right;
  padding:      0 13px 0 0;
}

.changePageButton {
  height:       43px;
  width:        103px;
  display:      inline-block;
  font-size:    14px;
  font-weight:  bold;
  color:        #21587f;
  line-height:  43px;
  margin:       0;
}

#nextPageButton:hover {
  background-position: -84px -43px;
}

#previousPageButton:hover {
  background-position: 0 -43px;
}

/* Illustrations */
.illustrationHolder {
  margin:       25px auto 10px;
  height:       160px;
  padding:      0 0 5px;
  text-align:   center;
}

.illustration {
  padding:      0px;
  float:        left;
}

.threeItems .illustration {
  padding:      0 15px;
}

#staticContent .illustration h2 {
  font-size:    18px;
  font-weight:  bold !important;
  color:        #21587f;
  margin:       0px;
  padding:      0px;
  border-bottom: 2px solid transparent;
  position:     relative;
  top:          -7px;
}

#staticContent .illustration img {
  border:       none;
}

#staticContent .illustration:hover * {
  cursor:       pointer;
}

#staticContent .illustration:hover h2 {
  color: #7bb031;
}

#staticContent .cornerIllustration {
  float:         right;
  height:        68px;
  margin:        0px 10px 0;
}

#mail_illustration {
  float:         right;
  width:         190px;
  margin:        5px 25px 0 0;
}

#joinIllustration {
  float:         right;
  width:         128px;
  margin:        -30px 35px 0 15px;
}

#inviteIllustration {
  float:         right;
  width:         200px;
  margin:        30px 15px 0 0px;
}

/* invited people */

#invitedListHolder {
  border:      1px solid green;
  background:  #F4F7E6;
  padding: 5px;
  margin: 0 0 15px 0;
  display: inline-block;
}

/* error handling */

#errorExplanation {
  border:      1px solid red;
  background:  #F4F7E6;
  padding:     13px 7px 0;
  margin:      5px 0 0;
}

#errorExplanation h2 {
  font-size:      14px;
  font-weight:    bold;

}

.fieldWithErrors {
  margin:         0;
  padding:        0;
  display:        inline-block;
}

.hint {
  background: url("../images/page/icons/pin.png") no-repeat scroll 142px 2px #FBF3BB;
	border: 1px solid #7bb031;
	color: #21587f;
	padding: 33px 10px 5px !important;
  width: 300px !important;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}