
/* Top menu */

#top_menu_container a,
#top_menu_container a:visited,
#top_menu_container #echo_language_button {
  color: #7691A2;
  font-family: arial,Helvetica,sans-serif;
  margin: 5px 2px 0 10px;
  padding-left: 20px;
  text-decoration: none;
  float: right;
  font-size: 12px;
  cursor: pointer;
}

#top_menu_container a img {
  border: 0;
}

#top_menu_container a:hover,
#top_menu_container #echo_language_button:hover {
  color: #1A4864;
}

#blog_button {
  background: transparent url(../images/page/icons/blog.png) no-repeat scroll;
}

#feedback_button {
  background: transparent url(../images/page/icons/feedback.png) no-repeat scroll;
}

#about_echo_button {
  background: transparent url(../images/page/icons/about.png) no-repeat scroll;
}

#top_menu_container #echo_language_button {
  background: transparent url(../images/page/icons/babelfish.png) no-repeat scroll 0 -16px;
  height: 28px;
  margin-left: 0;
}

#logout_button {
  background: transparent url(../images/page/icons/logout.png) no-repeat scroll;
}

#blog_button:hover,
#feedback_button:hover,
#about_echo_button:hover,
#logout_button:hover {
  background-position: 0 -16px;
}

#top_menu_container #echo_language_button_container {
  position: relative;
  display: inline-block;
  float: right;
}

#top_menu_container #echo_language_button_container .dropdown {
  top: 15px;
}

#top_menu_container #echo_language_button_container:hover .dropdown,
#top_menu_container #echo_language_button_container.hover .dropdown {
  display: inline-block;
}

#echo_language_button_container .language_selector.dropdown {
  border-color: #999;
}

#echo_language_button_container .language_selector.dropdown a {
  color: #7691A2;
  margin: 0 2px;
  padding: 10px;
  font-size: 15px;
  float: none;
  text-align: center;
}

#echo_language_button_container .language_selector.dropdown a:hover {
  color: #1A4864;
}


/* Buttom menu */

#bottom_menu_container {
  width:       945px;
  margin:      2px auto 10px;
  text-align:  center;
  font-size:   12px;
  padding-top: 8px;
}

#bottom_menu_container a, #bottom_menu_container a:visited {
  padding:     0 0 0 5px;
  color:       #21587f;
  font-family: arial,Helvetica,sans-serif;
  text-decoration: none;
}

#bottom_menu_container a:hover {
  color:       #FFF;
}

