/*
    Document   : profile
    Created on : 17.09.2009, 09:52:01
    Author     : xijo
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#profile_avatar_container {
  width: 140px;
  float: left;
  text-align: center;
}

#profile_avatar_container img {
  width: 128px;
  border: 2px solid #7bb031;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#concernment_container .form_container {
  width: 410px;
  margin: 7px 0 25px;
  display: inline-block;
  vertical-align: top;
}

#concernment_container .label {
  color: #7bb031;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  cursor: default;
}

#concernment_container form input[type='text'] {
  width: 250px !important;
}

#profile_completeness_bar {
  width: 130px;
  height: 9px;
  display: inline-block;
  margin-left: 10px;
}

#echo_account_settings .button {
	display: inline-block !important;
  padding: 10px 10px 10px 10px;
	margin-left: 10px;
	border: 1px solid #000000;
}

#echo_account_settings .delete_account .guide {
	color: #FF0000;
}
