/************************/
/****** lwRTE ***********/
/************************/
form.formtastic fieldset .rte-zone li {
	float: left;
  width: 25px;
  margin:5px 2px;
}

form.formtastic fieldset .rte-zone li.separator {
  border-right: 0px;
  width: 1px;

}

form.formtastic .rte-toolbar select {
  font:10px Tahoma,Verdana,Arial,Helvetica,sans-serif;
  height:16px;
  margin:0;
  padding:0;
}

form.formtastic fieldset ol li.text .rte-zone textarea{
	border: 0px;
	padding: 0px;
}

.rte-resizer {
	display: none;
}

.document_frame {
	color:#21587F;
}
