
.signinup_dialog {
  overflow: hidden;
}

.signinup_container {
  position: relative;
	width: 100%;
  cursor: default;
}

.signinup_container .block {
  display: inline-block;
}

.signinup_container .header.block {
  margin-bottom: 35px;
  width: 760px;
}

.signinup_container .symbol {
  background: url(../images/page/echo_o.png) no-repeat bottom left;
  width: 120px;
  height: 105px;
  margin: 5px 7px 0 0;
  display: inline-block;
  float: left;
}

.signinup_title {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 37px;
}

#signin .signinup_title,
#signup .signinup_title {
  font-size: 35px;
  top: 21px;
}

.signinup_toggle_button {
  padding: 5px 10px;
  background: #EEE;
  font-size: 13px;
  text-decoration: underline;
  position: absolute;
  left: 119px;
  top: 65px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
}

.signinup_container .hint.part {
  background: #EEE;
  float: right;
  min-width: 375px;
  margin: 25px 0 0;
  padding: 10px 15px 10px 20px;
  position: relative;
  right: -15px;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
}

.signinup_container .label.block {
  margin: 0 20px 40px;
  position: relative;
  width: 722px;
}

.signinup_container .label.block .echo_label {
  width: 320px;
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.signinup_container .label.block .or_holder {
  position: absolute;
  left: 290px;
  top: 5px;
  width: 64px;
  margin: 0 auto;
  text-align: center;
}

.signinup_container .label.block .or_label {
}

.signinup_container .label.block .social_label {
  width: 350px;
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  right: 0;
  text-align: right;
}

.signinup_label {
	display: inline-block;
  width: 170px;
  display: inline-block;
}

.signinup_container .form.block {
  margin: 0 0 0 15px;
  width: 780px;
}

.signinup_container .echo_container {
  float: left;
  width: 326px;
	height: 230px;
  border-right: 3px dotted #AAA;
}

.signinup_container .echo_container .password_label {
  font-size: 13px;
}

.signinup_container .social_container {
	float: right;
	height: 250px;
}


/* Password resets panel */

#reset_password .header.block,
#setup_basic_profile .header.block {
  margin-bottom: 20px;
}

.signinup_container .guide.block {
  margin: 0 20px 10px;
  position: relative;
  width: 750px;
}

/* Setup Basic Profile */

.signinup_container .terms_agreement {
  margin: 35px 0 0;
  clear: both;
}

.signinup_container .avatar_part {
  float: right;
  margin: 3px 40px 20px 0;
  position: relative;
}

.signinup_container .avatar {
  max-width: 135px;
  max-height: 135px;
  border: 2px solid #7bb031;
}

.signinup_container .avatar_checkbox {
  margin-left: 10px;
  vertical-align: top;
}

.signinup_container .avatar_label {
  vertical-align: top;
  line-height: 17px;
}