ul.benefitList {
  margin-top: 22px;
}

ul.spreadedList li {
  margin: 15px 0;
}

/* (un)sorted list */
li {
  margin: 6px 0;
}

/* more buttons */
.moreButton, .hideButton {
  cursor:   pointer;
  color:    #7BB031;
}

.moreButton:hover, .hideButton:hover {
  border-bottom: 1px dotted #7BB031;
}

.team_results {
	height: 388px;
	overflow-x: hidden;
	overflow-y: auto;
}

.team_results .results_container {
	width: 656px;
	min-height: 60px;
}

.team_results .header_block {
	margin-left: 0px;
	padding-right: 20px;
}

.team_results .results_container ul {
	min-height: 60px;
	display: inline-block;
}

.results_container .member .description{
	display:inline-block;
	font-size:14px;
	left:60px;
	max-height:35px;
	overflow:hidden;
	position:absolute;
}