.tabContainer {
  margin: 0 auto;
  padding-top: 20px;
  overflow: visible;
  position: relative;
  clear: both;
  width: 900px;
  text-align: center;
  z-index: 10;
  min-height: 1px;
  display: block;
}

.tabContainer .main_menu_tabs {
  width: 900px;
}

.tabContainer .main_menu_tabs a {
  font-size: 15px !important;
  font-weight: normal;
  min-width: 75px !important;
}

/* APPLICATION TABS SECTION */
.main_menu_tabs {
  margin: 0 auto;
  overflow: visible;
  position: relative;
  clear: both;
  width: 970px;
  text-align: center;
  z-index: 10;
  min-height: 1px;
  display: block;
}

.main_menu_tabs ul {
  margin: 4px 0 7px;
  padding: 0;
}

li.main_menu_item {
  background: url(../images/page/tabs/mainmenu_left_off.png) no-repeat scroll left top;
  height: 51px;
  display: inline-block;
  border: 0;
  margin: 0;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  z-index: 10;
}

a.main_menu_item, a.main_menu_item.active {
  background: transparent url(../images/page/tabs/mainmenu_right_off.png) no-repeat scroll right top;
  margin: 0 0 0 21px;
  padding: 0 21px 0 0;
  float: left;
  height: 51px;
  line-height: 54px;
  font-size: 18px;
  min-width: 85px;
}

li.main_menu_item.active {
  background: url(../images/page/tabs/mainmenu_left_on.png) no-repeat scroll left top !important;
}

a.main_menu_item.active {
  background: transparent url(../images/page/tabs/mainmenu_right_on.png) no-repeat scroll right top !important;
  font-weight: bold;
}


/* My echo tab */
.applicationTabs #my_echo_tab_container {
  position: absolute;
  right: 55px;
  top: 0;
}

/* Admin tab */
.applicationTabs #admin_tab_container {
  position: absolute;
  left: 4px;
  top: 0;
}

#roadmap_tab_container {
  position: absolute;
  left: 42px;
  width: 150px;
  top: 0;
  text-align: left;
}

#roadmap_tab {
  height: 32px;
}

.roadmap_tab {
  margin: 0 auto;
  padding-bottom: 1px;
  width: 990px;
  position: relative;
}

.roadmap_tab img {
  position: absolute;
  top: -11px;
  width: 48px;
  z-index: 11;
}

#roadmap_tab_title {
  position: absolute;
  color: #21587F;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

#roadmap_progressbar {
  width: 130px;
  height: 9px;
  display: inline-block;
  margin-left: 10px;
}

/* Dropdown menus */

.main_menu_item .dropdown {
  display: none;
  padding: 0 3px;
  background: #fff;
  width: 150px;
  position: absolute;
  top: 46px;
  left: -16px;
  list-style: none outside none;
  border: 3px solid #b5c0c9;
  border-top: none;
  border-radius: 20px 20px 12px 12px;
  -moz-border-radius: 20px 20px 12px 12px;
  -webkit-border-radius: 20px 20px 12px 12px;
  box-shadow: 0 7px 35px #CAD3DB;
  -moz-box-shadow: 0 7px 35px #CAD3DB;
  -webkit-box-shadow: 0 7px 35px #CAD3DB;
  z-index: -1;
}

.main_menu_item .dropdown li {
  margin: 0;
  padding: 0;
}

.main_menu_item .dropdown li a {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px dotted #BBBBBB;
  margin: 0;
  padding: 10px;
  display: block;
}

.main_menu_item .dropdown li.first a {
  padding-top: 11px;
}

.main_menu_item .dropdown li.last a {
  border-bottom: none;
  padding-bottom: 9px;
}

#home_tab_container .dropdown {
  left: -42px;
}

li.main_menu_item:hover .dropdown {
  display: inline-block;
}

li.main_menu_item.active:hover .dropdown {
  /*display: none;*/
}

/* Label colors */

.main_menu_tabs a,
.main_menu_tabs a:visited {
  color: #21587f;
}

.main_menu_tabs li.main_menu_item:hover a.main_menu_item,
.main_menu_tabs li.main_menu_item.active a.main_menu_item,
.main_menu_tabs .dropdown li:hover a {
  color: #7bb031;
}

.main_menu_item .dropdown li.roadmap a {
  color: #CAD3DB;
}

.main_menu_item .dropdown li.roadmap:hover a {
  color: #7bb031;
}

.main_menu_item .dropdown li.default a,
.main_menu_item .dropdown:hover li.default:hover a {
  color: #7bb031;
}

.main_menu_item .dropdown:hover li.default a {
  color: #21587f;
}
