.tabContainer {
  margin: 0 auto;
  padding-top: 20px;
  overflow: visible;
  position: relative;
  clear: both;
  width: 900px;
  text-align: center;
  z-index: 10;
  min-height: 1px;
  display: block;
}

.tabContainer .applicationTabs {
  width: 900px;
}

.tabContainer .applicationTabs a {
  font-size: 15px !important;
  font-weight: normal;
  min-width: 75px !important;
}

/* APPLICATION TABS SECTION */
.applicationTabs {
  margin: 0 auto;
  overflow: visible;
  position: relative;
  clear: both;
  width: 970px;
  text-align: center;
  z-index: 10;
  min-height: 1px;
  display: block;
}

.applicationTabs ul {
  margin: 4px 0 7px;
  padding: 0;
}

.applicationTabs li {
  background: url(../images/page/tabs/mainmenu_left_off.png) no-repeat scroll left top;
  height: 51px;
  display: inline-block;
  border: 0;
  margin: 0;
  text-decoration: none;
  font-size: 15px;
}

.applicationTabs a, .applicationTabs a.active {
  background: transparent url(../images/page/tabs/mainmenu_right_off.png) no-repeat scroll right top;
  margin: 0 0 0 21px;
  padding: 0 21px 0 0;
  float: left;
  height: 51px;
  line-height: 54px;
  font-size: 18px;
  min-width: 85px;
}

.applicationTabs a,
.applicationTabs a:visited {
  color: #21587f;
}

.applicationTabs a:hover {
  color: #7bb031;
}

.applicationTabs li.active {
  background: url(../images/page/tabs/mainmenu_left_on.png) no-repeat scroll left top !important;
}

.applicationTabs a.active {
  background: transparent url(../images/page/tabs/mainmenu_right_on.png) no-repeat scroll right top !important;
  font-weight: bold;
  color: #7bb031;
}


/* My echo tab */
.applicationTabs #my_echo_tab_container {
  position: absolute;
  right: 55px;
  top: 0;
}

/* Admin tab */
.applicationTabs #admin_tab_container {
  position: absolute;
  left: 4px;
  top: 0;
}

#roadmap_tab_container {
  position: absolute;
  left: 55px;
  width: 150px;
  top: 0;
  text-align: left;
}

#roadmap_tab {
  height: 32px;
}

.roadmap_tab {
  margin: 0 auto;
  padding-bottom: 1px;
  width: 990px;
  position: relative;
}

.roadmap_tab img {
  position: absolute;
  top: -23px;
  z-index: 11;
}

#roadmap_tab_title {
  position: absolute;
  color: #21587F;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

#roadmap_progressbar {
  width: 130px;
  height: 9px;
  display: inline-block;
  margin-left: 10px;
}

.dropdown {
  display: none;
}