<span id="<%= context %>_<%= concernment %>" class="tag">
  <%= concernment %> <%= link_to 'x',url_for(:controller => 'users/users',
                                             :action => 'delete_concernment',
                                             :id => concernment,
                                             :context => context),
                                       :class => 'ajax' %>
</span>
