<span id="<%= dom_id concernment %>" class="tag">
  <%= concernment.tag.value %> <%= link_to 'x',url_for(:controller => 'users/users',
                                                   :action => 'delete_concernment',
                                                   :id => concernment.id),
                                       :class => 'ajax' %>
</span>
