<% content_for :tabContainer do %>
  <%= tabnav 'static_echosocial' %>
<% end %>

<% insert_echosocial_breadcrumb(echosocial_path, echosocial_path) %>

<%= I18n.t('static.echosocial.show.text') %>

<ul class="spreadedList">
  <li>
    <strong><%= I18n.t('static.echosocial.show.part_2.title') %></strong>
    <% insert_toggle_more(I18n.t('static.echosocial.show.part_2.text')) %>
  </li>
  <li>
    <strong><%= I18n.t('static.echosocial.show.part_3.title') %></strong>
    <% insert_toggle_more(I18n.t('static.echosocial.show.part_3.text', :echo_link => url_for(:host => ECHOLOGIC_HOST))) %>
  </li>
</ul>

<% insert_illustrations([echosocial_path(:show), echosocial_path(:features)], "echosocial") %>
