<% statement_node ||= @statement_node %>
<% no_buttons ||= false %>
<% border = (no_buttons and !statement_node.echoable?) %>
<div class="action_bar" style="<%= border ? 'border-width:0px' : '' %>">
	<!-- Render Echo Button -->
	<%= render_echo_button(statement_node, !(current_user && statement_node.supported?(current_user))) %>
	
	<!-- Add New Button -->
	<%= add_new_button(statement_node, params[:origin], params[:search_terms], params[:prev], params[:bids]) unless no_buttons %>

	<!-- Delete Statement Button -->
  <% if !no_buttons and current_user and current_user.may_delete?(statement_node) -%>
    <br/><br/>
    <%= delete_statement_node_link(statement_node) %>
  <% end -%>
</div>
