<% statement_node ||= @statement_node %>

<div class="action_bar">

  <% unless statement_node.new_record? %>
    <% render_echo_button(statement_node, !(current_user && statement_node.supported?(current_user))) %>
    <% create_new_sibling_statement_button(statement_node) %>
  <% end %>

  <% if current_user && current_user.may_delete?(statement_node) -%>
    <br/><br/>
    <%= delete_statement_node_link(statement_node) %>
  <% end -%>
</div>
