<% parent_node ||= @statement_node %>
<% parent_document ||= @statement_document %>
<% statement_node ||= @approved_node %>
<% statement_document ||= @approved_document %>

<% if !statement_node.nil? and !statement_node.nil? %>
  <div id="approved_ip">

     <% incorporate_statement_node_link(parent_node, parent_document, statement_node, statement_document) %>

		 <div id="ip_text">
		   <%= sanitize statement_document.text %>
		 </div>

  </div>
<% end %>
