<% children ||= @children %>

<div class="sub_list">
  <ul id="children_list" class="children_pagination">
    <%= render :partial => 'statements/child', :collection => children if !children.blank? %>

    <%if children.blank? or children.current_page == children.total_pages %>
        <%= create_new_child_statement_link(@statement_node) %>
    <%end%>
  </ul>
	<div id="more_pagination" class="more_pagination">
		<% if !children.blank? and children.current_page != children.total_pages %>
		  <%= more_children(@statement_node) %>
	  <% end %>
	</div>
</div>

