<div id="<%= type.pluralize %>" class="children header_block discuss_right_block">
  <!-- Title -->
  <%= content_tag :h2, children_box_title(type) %>

  <!-- The children -->
	<% if children and children.kind_of?(Array) %>
  <%= render :partial => 'statements/children_list',
             :locals => {:type => type, :children => children}%>
  <% else %>
	
	<% end %>
</div>
