<% statement ||= @statement %>

<div id="context">

  <% statement_stack = [statement.root, statement.parent, statement].compact.uniq || [] %>
  <%# raise statement_stack.inspect %>
  <% statement_stack.each do |s| %>
  <div class="context_line <%= 'active' if statement_stack.last.eql?(s) %>">
    <div class="context_buttons"><%= prev_next_buttons(s) %></div>
    <div class="context_link"><%= statement_context_link(s,(statement_stack.last.eql?(s) ? 'current' : 'back_to'))%></div>
  </div>
  <% end %>

</div>
