<% statement_node ||= @statement_node %>

<div id="context">

  <% statement_node_stack = [statement_node.root, statement_node.parent, statement_node].compact.uniq || [] %>
  <% statement_node_stack.each do |s| %>
  <% last_statement_node = statement_node_stack.last.eql?(s) %>
  <div class="context_line <%= 'active' if last_statement_node %>">
    <div class="context_buttons"><%= prev_next_buttons(s) %></div>
    <div class="context_link"><%= statement_node_context_link(s,
         @language_preference_list,(last_statement_node ? 'current' : 'back_to'), last_statement_node)%></div>
  </div>
  <% end %>

</div>
