<% statement_node ||= @statement_node %>

<div id="context">
  <% statement_node.self_and_ancestors.each do |s| %>
	  <% is_current_statement_node = statement_node.eql?(s) %>
    <div class="context_line <%= 'active' if is_current_statement_node %>">
      <div class="context_buttons"><%= prev_next_buttons(s) %></div>
      <div class="context_link">
        <%= statement_node_context_link(s,
                                        @language_preference_list,
                                        (is_current_statement_node ? 'current' : 'back_to'), is_current_statement_node)%>
      </div>
    </div>
  <% end %>

</div>
