<% @function_name = 'discuss' %>

<% content_tag :div, :id => 'breadcrumbs', :class => 'breadcrumbs' do %>
  <% content_tag :div, :class => 'elements' do %>
    <%= render_breadcrumb(@breadcrumbs) if @breadcrumbs %>
	<% end %>
<% end %>

<div id="statements">
  <%= render_ancestors(@ancestors, @ancestor_documents) if @ancestors %>
  <%= render :partial => template %>
</div>

<%= content_tag :span, '', :id => 'social_messages', 'data-success' => I18n.t("users.social_accounts.share.success"),
                                                       'data-error' => I18n.t("users.social_accounts.share.error")%>