<% no_show ||= false %>
<div class="header <%= 'active' if !no_show %>">
  <div class="header_buttons"><%= prev_next_buttons(statement_node) %></div>
	<div class="header_link">
    <%= statement_node_context_link(statement_node, @language_preference_list, (!no_show ? 'current' : 'back_to'), !no_show)%>
  </div>
</div>