<% statement_node ||= @statement_node -%>
<% tags ||= @tags %>
<% statement_document ||= @statement_document %>
<div id="new_statement" class="header_block discuss_right_block">
  <h2><%= children_new_box_title(statement_node) %></h2>
  <p><%= I18n.t("discuss.statements.create_#{statement_node.class.name.underscore}_explanation")%></p>
  <%= render :partial => 'statements/form', :locals => {:statement_node => statement_node, :tags => tags, :statement_document => @statement_document } %>
</div>


<script type="text/javascript">
  $('#new_<%=statement_node_class_dom_id(statement_node)%>').ajaxForm({ dataType : 'script' });
</script>

