<div id="set_languages_box"
     class="message_box translation_box_class rounded-box rounded-box-gray-itow with_bg_bw_grad_small">

  <%= image_tag 'page/translation/babelfish_left.png',
                :class => 'fish_left' %>
  <%= link_to I18n.t('discuss.statements.set_languages'),
                     my_profile_path,
                     :class => "translation_link profile_link" %>
</div>
