<% statement_node ||= @statement_node %>
<% no_show ||= false %>
<div id="<%=dom_id(statement_node)%>" class="statement <%=dom_class(statement_node)%>">
  <%= render :partial => 'statements/header', :locals => {:statement_node => statement_node, :no_show => no_show} %>
  <%= render :partial => 'statements/content', :locals => {:statement_node => statement_node, :no_show => no_show} %>
</div>