<% statement_node ||= @statement_node %>

<% url_options = { :controller => statement_node.class.name.underscore.pluralize, :id => statement_node.id } %>

<div id="discuss_sidebar">

  <% unless !statement_node.echoable? || statement_node.new_record? %>
     <%= render_echo_button(url_options, !(current_user && statement_node.supported_by?(current_user))) %>
    <br />
  <span id="create_parent_element_button">
  <%= create_children_statement_node_link(statement_node.parent, "", "create_internal_link") if statement_node.parent%>
  </span>
  <% end %>
  <% if current_user && current_user.may_delete?(statement_node) -%>
    <br/><br/>
    <%= link_to I18n.t('discuss.statements.delete_link'), url_for(statement_node), :class => 'admin_action', 
                :method => :delete, :confirm => I18n.t('discuss.statements.delete_confirmation') %>
  <% end -%>
</div>
