<% statement ||= @statement %>
<% statement_document ||= @statement_document %>
<div id="translation_box" class="statement_message_box rounded-box rounded-box-gray-itow with-header" style="display: none">
  <span class="box_header"><%= create_translate_statement_link (@statement) %></span>
  <span class="box_header_icon"></span>
  <span class="box_header_info"><%= statement_document.language.code.upcase%></span>
</div>