<div class="translation_box rounded-box rounded-box-gray-itow with-header <%= @translation_permission ? '' : 'display: none' %>">
  <span class="box_header"><%= create_translate_statement_link (@statement) %></span>
  <span class="box_header_icon"></span>
  <span class="box_header_info"><%= params[:locale].upcase%></span>
</div>