<%# Shows the form for uploading a new statement image, ajaxifys it and shows a
  # progress indicator.
%>

<p>
  <%= I18n.t('discuss.statements.upload_image.guide') %>
</p>

<% semantic_form_for @statement_node,:html => { 'data-image-redirect' => reload_image_statement_node_url(@statement_node, 
                                                                        :date => @statement_node.image.updated_at),
                                                 :multipart => true, 
                                                 :id => 'upload_image_form', 
                                                 :class => 'upload_form' } do |form| %>
  <% form.inputs do %>
    <%= form.input :image, :input_html => {:size => 70}  %>
  <% end %>
<% end %>

<div id="uploading_progress" style="display:none;">
  <%= I18n.t('discuss.statements.upload_image.progress') %> <%= image_tag 'indicator.gif' %>
</div>
