<% content_for :submenu, tabnav(:discuss) %>

<div id="statements">
  <%= render_ancestors(@ancestors) %>
  <%= render :partial => 'statements/edit' %>
</div>


<script type="text/javascript">
  makeRatiobars();
  roundCorners();
  $('#edit_<%= dom_id(@statement_node) %>').ajaxForm({ dataType : 'script' });
</script>