<% content_for :submenu, tabnav(:discuss) %>

<div id="statements">	 
 <% @ancestors.each do |ancestor| %>
  <%= render_ancestor(ancestor) %>
 <% end %>
 <%= render :partial => 'statements/show', :locals => {:statement_node => @statement_node} %>
</div>
<script type="text/javascript">
  makeRatiobars();
	roundCorners();
  showMessageBox("#translation_box", <%= @translation_permission %>);
	showMessageBox("#original_language_box", <%= @original_language_warning %>);
</script>
