<div class="roadmap_tab">
	<%= image_tag("../images/page/icons/under_construction.png", :border => "none") %>
</div>
<%
# Render submenu tabs for discuss section.

render_tabnav :discuss,
              :generate_css => false, :html => {:class => 'submenu'} do


  add_tab do |t|
    t.named I18n.t('discuss.featured_topics.title')
    t.links_to hash_for_discuss_featured_path
  end

  add_tab do |t|
    t.named I18n.t('discuss.search.title')
    t.links_to hash_for_discuss_search_path
	  t.highlight! if params[:id] and @statement_node.blank?
  end

  add_tab do |t|
    t.named I18n.t('discuss.my_issues.link')
    t.links_to hash_for_my_issues_path
  end

  add_tab :html => {:id => 'roadmap_tab'} do |t|
    value = I18n.t('application.roadmap.title')
    t.named value
    t.links_to hash_for_discuss_roadmap_path
  end


end
%>



