<div id="echosocial_static_menu">
	<ul>
		<li>
			<div id="make_echo" class="make_echo rounded-box rounded-box-gray-itow with-header">
			    <span class="box_header"><%= I18n.t('static.echosocial.make_echo.title') %></span>
			    <span class="box_header_border"></span>
			    <span class="box_header_icon"></span>

    			<span class="my_echo_image"></span>
    			
				<span class="box_subtitle"><%= I18n.t('static.echosocial.make_echo.subtitle') %></span>
  			</div>
		</li>
	</ul>	
</div>
