<div class="roadmap_tab">
	<%= image_tag("../images/page/icons/under_construction.png", :border => "none") %>
</div>

<%
# Render submenu tabs for my echo section.

render_tabnav :my_echo,
              :generate_css => false, :html => {:class => 'submenu'} do

  add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.profile')
    t.links_to hash_for_my_profile_path
  end

  add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.settings')
    t.links_to hash_for_settings_path
  end

  add_tab :html => {:id => 'roadmap_tab'} do |t|
    value = "#{Development::MY_ECHO_PROGRESS}%  " + I18n.t('application.roadmap.title')
    t.named value
    t.links_to hash_for_my_echo_path
  end

end
%>
