<div class="roadmap_tab">
	<%= image_tag("../images/page/icons/under_construction.png", :border => "none") %>
</div>

<% render_tabnav :my_echo,
                 :generate_css => false, :html => {:class => 'submenu'} do |tn|

  tn.add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.profile')
    t.links_to hash_for_my_profile_path
  end

  tn.add_tab do |t|
    t.named I18n.t('layouts.my_echo.tabs.settings')
    t.links_to hash_for_settings_path
  end

  tn.add_tab :html => {:id => 'roadmap_tab'} do |t|
    value = I18n.t('application.roadmap.title')
    t.named value
    t.links_to hash_for_my_echo_roadmap_path
  end

end
%>
