<ul>
	<li>
    <%= I18n.t('mail.questions.text1', :locale => @language.code ) %>
  </li>
	<li>
    <%= I18n.t('mail.questions.new_questions', :count => questions.size, :locale => @language.code) %>
  </li>
	<li>
    <%= I18n.t('mail.questions.tags_intro', :locale => @language.code) %>
  </li>
	<li>
	<%= tags.to_a.map{|tag|I18n.t('mail.questions.tag', :tag => tag[0], :count => tag[1], :code => @language.code, :locale => @language.code)}.join(", ") %>
  </li>
</ul>