<ul>
	<% events.each_with_index do |event, index| %>
	 <% if index == 0 %>
		 <% language_id = nil %>
		 <%@preferred_language_ids.each do |l_id| %>
		   <% if event["parent_documents"].has_key?(l_id.to_s) %>
			    <% language_id = l_id %>
			    <% break %>
			  <% end %>
			<% end %>
			<% language_id = event["parent_documents"].keys[0] if language_id.nil? %>
		 <li><p><%= I18n.t("mailers.activity_tracking.statements.#{operation}_#{type.pluralize}",
		             :title => event["parent_documents"][language_id.to_s],
		             :locale => Language[@preferred_language_ids.first].code) %>
		 </p></li>
	 <% end %>
	 <% children = @events[event['id']] %>
	 <%= render :partial => "activity_tracking_mailer/activity_templates/statement_activity_template", 
              :locals => {:event => event} %>
	 <%= render :partial => "activity_tracking_mailer/children_template", 
              :locals => {:parent_id => event['id'], :events => children} if children %>
	<% end %>
</ul>