<h2><%= I18n.t('mailers.activity_tracking.subject', :locale => @language.code) %></h2>

<%= render :partial => "activity_tracking_mailer/activity_templates/discussions_activity_template",
           :locals => {:discussions => @discussion_events, :tags => @discussion_tags}%>
<br/><br/>
<% previous_event_data = nil %>
<% @events.each do |e|%>
  <% event_data = JSON.parse(e.event) %>
	<%= render :partial => "activity_tracking_mailer/#{event_data['operation']}_activity_template", 
             :locals => {:event_data => event_data, :previous_event_data => previous_event_data} %>
	<% previous_event_data = event_data %>
<% end %>
</ul>
