<div id="notification_settings" class="header_block">
  <h2><%= I18n.t("users.notifications.title") %></h2>
  <div class="guide">
    <%= I18n.t("users.notifications.guide") %>
  </div>
  <ul id="notification_list">
  	<% %w(activity drafting newsletter).each do |content| %>  
    <%= render :partial => "users/notification/check", :locals => {:notification_type => content } %>
		<% end %>
  </ul>
</div>