<% @function_name = 'admin_report' %>

<h1>Reported users</h1>

<div id="active_reports_container">
  <h2>Active reports</h2>
  <i><%= @active.count %> active reports:</i>
  <ul>
    <%= render @active %>
  </ul>
</div>

<div id="done_reports_container">
  <h2>Processed reports</h2>
  <i><%= @done.count %> done reports:</i>
  <ul>
    <%= render @done %>
  </ul>
</div>

<div id="details_container" class="tab_details_container"></div>

