<% @profile = profile if defined?(profile) %>

<li id="<%= dom_id(@profile) %>" class="content profile">
  <%= content_tag :span, @profile.full_name, :class => 'name' %><br/>
	<%= content_tag :span, "#{@profile.location}#{tag('br')}#{@profile.first_membership}", :class => 'location_orga' %>
  <span class="close_hint" style="display: none;">
    <%= I18n.t('application.general.close') %>
  </span>
  <% open_profile_details @profile %>
</li>
