<div id="search_results_container">

  <%= tabnav :connect_segments %>

  <% count_text = profiles_count_text(@profiles.total_entries, params[:search_terms], params[:sort]) %>

  <!--<span class="results_count"><%- count_text %></span>-->
  <!--<span class="results_sort"/>-->

  <span id="results_anchor"></span>

  <div id="connect_results" class="results_container rounded-box rounded-box-gray-itow with-header with_bg_bw_grad">
    <span class="box_header"><%= count_text %></span>
    <span class="box_header_border"></span>
    <span class="box_header_icon"></span>

    <%= render :partial => 'connect/profiles/list' %>
    <%= will_paginate @profiles , :previous_label => '', :next_label => '' if defined? @profiles.total_pages %>
  </div>

</div>
