<% unless @profile.web_addresses.blank? %>

  <% WebAddress.sorts.sort {|x,y| x[0] <=> y[0] }.each do |sort, name| %>
    <% web_addresses = @profile.web_addresses.find_all_by_sort(sort) %>
    <% unless web_addresses.blank? %>
      <span class="label"><%= name %></span>
      <span class="values">
        <%= web_addresses.collect { |wp| auto_link(sanitize(wp.location), :all, :target => '_blank' )}.join(', ') %>
      </span>
    <% end %>
  <% end %>

<% else %>
  <span class="no_results"><%= I18n.t('connect.messages.no_web_addresses') %></span>
<% end%>
