<% unless @profile.web_addresses.blank? %>

  <% WebAddressType.all.each do |web_address_type| %>
    <% web_addresses = @profile.web_addresses.find_all_by_type_id(web_address_type.id) %>
    <% unless web_addresses.blank? %>
      <span class="label"><%= EnumValue[web_address_type.code].value %></span>
      <span class="values">
        <%= web_addresses.collect { |wp| auto_link(sanitize(wp.address), :all, :target => '_blank' )}.join(', ') %>
      </span>
    <% end %>
  <% end %>

<% else %>
  <span class="no_results"><%= I18n.t('connect.messages.no_web_addresses') %></span>
<% end%>
