<%site_name ||= "echo (2010)"%>
<%imprint ||= static_path(:imprint)%>
<%data_privacy ||= static_path(:data_privacy)%>

<div id="bottomMenuContainer">
  <%= site_name %>
  <%= link_to(I18n.t('layouts.outer_menu.imprint'),
              imprint,
              :class => 'outerMenuItem') %>
  <%= link_to(I18n.t('layouts.outer_menu.data_privacy'),
              data_privacy,
              :class => 'outerMenuItem') %>
</div>
