<%#
# Show the error messages of a given object and format them into html
%>

<% if object.errors.count > 0 %>
  <%= I18n.t('activerecord.errors.template.body') %>
  <ul>
    <% object.errors.each do |attr_name, message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--
elsif object.class.kind_of?(ActiveRecord::Base.class) && object.errors.count > 0
  value = I18n.t('activerecord.errors.template.body')
  value += "<ul>"
  object.errors.each do |attr_name, message|
    value += "<li>#{message}</li>"
  end
  value += "</ul>"
  if @error.nil?
    @error = value
  else
    @error << value
  end
end
-->