<div id="newsContainer" class="rounded-box rounded-box-green-iwot">
  <div>
    <%= render :partial => 'layouts/components/featured_topic',
               :locals => {:featured_topic => "klimaherbst"} %>
  </div>
  <div id="twitter_panel">
    <%= render :partial => 'layouts/components/twitter' %>
  </div>
</div>

<script type="text/javascript">
  $j('#newsContainer').cycle({
      timeout: 7000
  });
</script>