
<div id="mission_statement_container" class="rounded-box rounded-box-green-iwot">
  <div class="width100p">
    <%= image_tag 'page/ms_bg blue.jpg', :alt => '' %>
    <%= render :partial => 'static/echologic/jump_in_button' %>
  </div>
</div>

