
<%= image_tag 'page/echologic_twitter.png', {:id => 'twitter_bird'} %>

<% link_to 'http://twitter.com/echologic', {:id => 'twitter_link',
                                            :class => 'ttLink',
                                            :title => I18n.t('static.echologic.show.twitter'),
                                            :alt => I18n.t('static.echologic.show.twitter'),
                                            :target => '_blank'} do %>

  <div id="twitter_title">
    <%= I18n.t('static.echologic.show.news_title') %>
  </div>

<% end %>

<%= get_twitter_content %>