<div id="echo_discuss" class="rounded-box rounded-box-gray-itow with-header with_bg_bw_grad">
   <span class="box_header"><%= I18n.t('static.echosocial.have_your_say.title') %></span>
   <span class="box_header_border"></span>
   <span class="box_header_icon"></span>

   <div class="box_content">
     <% link_to('http://www.echologic.org', :target => '_blank') do %>
       <%= image_tag('page/echo_logo.png') %>
       <span><%= I18n.t('static.echosocial.have_your_say.text') %></span>
     <% end %>
   </div>
</div>