<div id='partners_members' class='ai_container'>
  <%= render :partial => 'about_partners', :collection => [AboutCategory[:technology_partners],
                                                       AboutCategory[:strategic_partners]] %>
</div>
