<div id='partners_members' class='ai_container'>
  <%= render :partial => 'about_partners',
             :collection => [#AboutCategory[:thematic_partners],
                             AboutCategory[:technology_partners]] %>
</div>
