<div id='partner_orgas' class='ai_container'>
  <%= render :partial => 'about_partners',
             :collection => [AboutCategory[:partners],
                             AboutCategory[:thematic_partners],
                             AboutCategory[:technology_partners],
                             AboutCategory[:strategic_partners]] %>
</div>
