<% insert_breadcrumb(echologic_path, echologic_path) %>

<span id="echoTeaser"><%= I18n.t('static.echologic.show.teaser') %></span>

<strong><%= I18n.t('static.echologic.show.action') %></strong>
<% insert_toggle_more(I18n.t('static.echologic.show.teaser_more')) %>
<br/>
<%#= I18n.t('static.echologic.show.teaser_more') %>

<%= render :partial => 'jump_in_button' %>

<%= render :partial => 'sponsors' %>
