<div id='team_members' class='ai_container'>
  <%= render :partial => 'about_category', :collection => [AboutCategory[:core_team],
                                                           AboutCategory[:supporters],
                                                           AboutCategory[:translators]] %>
</div>
