<div id='team_members' class='team_members'>
  <%= render :partial => 'about_category', :collection => [AboutCategory[:core_team],
                                                           AboutCategory[:supporters]] %>
</div>