<li class="email_notification_element">
  <span class="label checkbox">
    <%=check_box_tag("email_notification","notify", @user.email_notification?, 
                     {:id => :email_notification})%>
  </span>
  <span class="info"><%=I18n.t('users.email_notification.label')%></span>
</li>
<%= observe_field :email_notification, :url => {:controller => :my_echo, 
                                                :action => :set_email_notification, 
                                                :id => @user.id} %>
