<div id="email_notification_container" class="header_block">
  <h2><%= I18n.t('users.email_notification.title') %></h2>
  
  <div class="guide">
    <%= I18n.t('users.email_notification.guide') %>
  </div>

</div>
