<%form_partial ||= 'statements/form/form' %>
<% headline ||= nil %>
<div class="content">
	<%= render :partial => 'statements/action_bar', :locals => {:statement_node => statement_node, :no_buttons => true } if statement_node.new_record? %>
	<div class="summary simple_header_block discuss_right_block">
		<%=content_tag :h2, headline if !headline.nil? %>
	  <%= render :partial => form_partial, :locals => {:form => form} %>
	</div>
</div>
